{% if banner %}
    <div class="banner">
        <ul>
            {% for item in banner %}
                {% if item.is_swf %}
                    <li class="item">
                        <object>
                            <param name="movie" value="{{ item.url }}">
                            <param name="quality" value="best">
                            <param name="wmode" value="opaque">
                            <embed src="{{ item.file.url }}" quality="best" wmode="opaque" type="application/x-shockwave-flash" width="330" height="90">
                        </object>
                        {% else %}
                    <li class="item"><a href="{{ item.url }}" target="{{ item.target }}"><img src="{{ item.file.url }}" alt="{{ item.url }}"/></a>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
