<div class="category_block">
    <header>Ссылки</header>
    <div class="profile_links">
        <a href="{% url 'cabinet:view' %}">Личный кабинет</a>
        <a href="{% url 'cabinet:messages' %}">Мои сообщения ({{ quantity.messages|default:'0' }})
            <span class="new_message">{% firstof quantity.messages_new '' %}</span></a>
        <a href="{% url 'cabinet:adverts' %}">Мои объявления ({{ quantity.adverts|default:'0' }})</a>
        <a href="{% url 'cabinet:drafts' %}">Мои черновики ({{ quantity.drafts|default:'0' }})</a>
        <a href="{% url 'cabinet:events' %}">Мои ивенты ({{ quantity.events|default:'0' }})</a>
        <a href="{% url 'cabinet:archive' %}">Архив ({{ quantity.archive|default:'0' }})</a>
        <a href="{% url 'cabinet:comments' %}">Мои комментарии ({{ quantity.comments|default:'0' }})</a>
        <a href="{% url 'cabinet:edit' %}">Редактирование профиля</a>
    </div>
</div>
