{% if cat_menu %}
    {% for catalog in cat_menu %}
        <li>
            {% if catalog.count and catalog.count != 0 %}
                <span>
                    {{ catalog.count }}
                </span>
            {% endif %}
            {% if catalog.categories %}
                <i class="fa fa-plus-circle"></i>
            {% endif %}
            <a href="{% url 'catalog:detail' catalog.slug %}">
                {{ catalog.title }}
            </a>
            {% if catalog.categories %}
                <ul>
                    {% for category in catalog.categories %}
                        <li><a href="{% url 'catalog:category_detail' category.slug %}">
                            {{ category.title }}
                        </a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endif %}
