{% load static %}
{% load widget_tweaks %}

<form action="" method="post" id="add" class="geo_form">
    {% csrf_token %}
    <fieldset>
        <label for="id_geo_city">Город</label>
        {{ form.geo_city }}
        <br/>
        <div class="wrap_no_city">
            <span class='no_city'></span>
        </div>
    </fieldset>
    <br/>
    <input type="submit" value="Сохранить" class="save_cookie">
    <a href="#" class="cookie_cancel">Отмена</a>
</form>
