{% load thumbnail staticfiles core_tags %}
<div class="category_block">
    <header>Свежие</header>

{% for advert in adverts %}
    <div class="item">
        <div class="item_img">
            <a href="{% url 'catalog:advert_detail' advert.pk %}">
            {% thumbnail advert.cover__image "80x65" crop='center' as im %}
                <img src="{{ im.url }}">
            {% empty %}
                <img src="{% static "images/nophoto.jpg" %}">
            {% endthumbnail %}
            </a>
        </div>
        <div class="item_desc">
            <p class="desc"><a href="{% url 'catalog:advert_detail' advert.pk %}">{{ advert.title|truncatechars:35 }}</a></p>
            <p class="price">{{ advert.price }} ({{ advert.currency }})</p>
            <p>{{ advert.type|get_advert_type_display }}</p>
        </div>
        <div class="clr"></div>
    </div>
{% endfor %}
</div>
