{% load static i18n %}
<div class="user_comments">
  {% for comment in comments %}
    <div class="user_comment clearfix" id="comment-{{ comment.id }}">
      <div class="user_image">
        {% if comment.user.avatar %}
          <img src="{{ comment.user.avatar.url }}">
        {% else %}
          <img src="{% static 'images/avatar.gif' %}">
        {% endif %}
      </div>
      <div class="comment_info">
        <p class="us_info">
          {% if comment.user.is_vk %}
            <a href="http://vk.com/id{{ comment.user.get_vk_uid }}" target="_blank">
              <i class="fa fa-vk"></i>
            </a>
          {% else %}
            <span class="topby">topclub</span>
          {% endif %}, {{ comment.user.username }}, {{ comment.created }}
        </p>

        <p class="comment_body">{{ comment.message }}</p>
      </div>
      <a href="#" class="re-message quote" data-id="{{ comment.id }}">Ответить</a>
      <a href="{% url 'cabinet:message_new' %}?to={{ comment.user.username }}" class="private_message">Личное сообщение</a>
      <div class="clear"></div>
      {% for children in comment.get_children %}
        <div class="children_user_comment">
          <div class="user_image">
            {% if children.user.avatar %}
              <img src="{{ children.user.avatar.url }}">
            {% else %}
              <img src="{% static 'images/avatar.gif' %}">
            {% endif %}
          </div>
          <div class="comment_info">
            <p class="us_info">
              {% if children.user.is_vk %}
                <a href="http://vk.com/id{{ children.user.get_vk_uid }}" target="_blank"><i class="fa fa-vk"></i></a>
              {% else %}
                <span class="topby">topclub</span>
              {% endif %}, {{ children.user.username }}, {{ children.created }}
            </p>
            <p class="comment_body">{{ children.message }}</p>
          </div>
          {% if request.user.is_authenticated %}
            <a href="#" class="re-message quote" data-id="{{ comment.id }}">Ответить</a>
            <a href="{% url 'cabinet:message_new' %}?to={{ children.user.username }}" class="private_message">Личное сообщение</a>
          {% endif %}
          <div class="clear"></div>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>

{% if event.get_event_page_count <= page %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#get-messages').hide();
    })
  </script>
{% endif %}