{% load static %}
<div class="children_user_comment">
  <div class="user_image">
    {% if children.user.avatar %}
      <img src="{{ children.user.avatar.url }}">
    {% else %}
      <img src="{% static 'images/avatar.gif' %}">
    {% endif %}
  </div>
  <div class="comment_info">
    <p class="us_info">
      {% if children.user.is_vk %}
        <a href="http://vk.com/id{{ children.user.get_vk_uid }}" target="_blank">
          <i class="fa fa-vk"></i>
        </a>
      {% else %}
        <span class="topby">topclub</span>
      {% endif %}, {{ children.user.username }}, {{ children.created }}
    </p>

    <p class="comment_body">{{ children.message }}</p>
  </div>
  {% if request.user.is_authenticated %}
    <a href="#" class="private_message">Личное сообщение</a>
    <a href="{% url 'cabinet:message_new' %}?to={{ children.user.username }}" class="re-message quote" data-id="{{ comment.id }}">Ответить</a>
  {% endif %}
  <div class="clear"></div>
</div>