{% extends "base_events.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags widget_tweaks chat_tags %}

{% chat_head %}

{% block title %}{% trans 'Добавить ивент' %}{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"></script>
    <script type='text/javascript' src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/image.js' %}"></script>
    <script type="text/javascript">
        ymaps.ready(function(){
            var myMap, myPlacemark;
            var lat = 53.9;
            var lng = 27.56667;

            myMap = new ymaps.Map('map', {
                center: [lat, lng],
                zoom: 12,
                behaviors: ["default", "scrollZoom"]
            });
            if ($('#id_address').val()) {
                var address = $('#id_address').val().split(';;');
                var lt = address[0];
                var lg = address[1];
                $('#id_lat').val(lt);
                $('#id_lng').val(lg);
                myPlacemark = new ymaps.Placemark([lt, lg], {
                    hintContent: $('#id_title').val(),
                    balloonContent: $('#id_description').val()
                });
                myMap.geoObjects.add(myPlacemark);
            }
            myMap.events.add('click', function (e) {
                if(myPlacemark)
                    myMap.geoObjects.remove(myPlacemark);

                var position = e.get('coordPosition');

                var lat = position[0];
                var lng = position[1];
                $('#id_lat').val(lat);
                $('#id_lng').val(lng);
                $('#id_address').val(lat + ';;' + lng);

                myPlacemark = new ymaps.Placemark([lat, lng], {
                    hintContent: $('#id_title').val(),
                    balloonContent: $('#id_description').val()
                });
                myMap.geoObjects.add(myPlacemark);
            });

        });
        jQuery(function($){
            $("#id_phone").mask("+375 (99) 9999999");
            $('.loader').hide();
            img_upload({
                max_img: 4,
                max_img_text: '{% trans 'Максимальное количество изображений для ивента - 4 шт.' %}',
                main_img_text: '{% trans 'Сделать обложкой' %}',
                url: '{% url 'event:img_url_add' pk=obj.pk %}'

            });
            $(document.body).on('click', '.audio_del', function(){
                $.ajax({
                    type: "GET",
                    url: $(this).attr('href'),
                    complete: function(res) {
                        $('.audio_previews').html('');
                        $('#id_audio').val('');
                    }
                });
                return false;
            });

            $('#add_form').submit(function(){
                $('#id_photo').val('');
                $('#id_audio').val('');
            });
            $('#id_audio').change(function(){
                $('.error-audio').html('');
                $('#submit_button').attr('disabled', '');
                $('#audio_loader').show();
                var form = $('#add_form');
                $(form).ajaxSubmit({
                    url: "{% url 'event:upload' pk=obj.pk field='audio' %}",
                    type: form.method,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            $('.audio_previews').html('<a href="' + data.url +'" class="audio_link">' + data.name + '</a> ' + data.size + ' <a class="audio_del" href="{% url 'event:upload_del' pk=obj.pk field='audio' %}"><i class="fa fa-trash-o"></i></a>')
                        } else {
                            $('.error-audio').html(data.error);
                        }
                    },
                    complete: function(data){
                        $('#id_audio').val('');
                        $('#audio_loader').hide();
                        $('#submit_button').removeAttr('disabled');
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'event:list' %}">{% trans 'Все Ивенты' %}</a>
{% endblock breadcrumbs %}

{% block content %}
    <div class="wrap-form">
        {#        <div class="content center url-form-wrap">#}
        {#            <form action="" method="post" enctype="multipart/form-data" id='form_url'>#}
        {#                {% csrf_token %}#}
        {#          <input id="id_geo_init" type="hidden" value="{{ request.location.get_lnglat }}" name="geo_init">#}
        {#                <div id='photo_from_url'>#}
        {#                    {% trans 'Вставьте ссылку и нажмите Enter' %}#}
        {#                    <br><br>#}
        {#                    <label for="id_img_from_url">{% trans 'Фото по url' %}</label>#}
        {#                    <input id="id_img_from_url" maxlength="500" name="img_from_url" type="text" form="form_url" />#}
        {#                </div>#}
        {#            </form>#}
        {#        </div>#}
        <form action="" method="post" class="add_event_form" id="add_form" enctype="multipart/form-data">
            {% csrf_token %}

            {% for field in form.hidden_fields %}
                {{ field }}
                {{ field.errors }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group {% if field.errors %}has-error{% endif %}">
                    {% if not field.name in 'address' %}<label class="control-label">{{ field.label }}</label>{% endif %}
                    {% render_field field class='form-control' %}
                    <span class="error error-{{ field.name }}">{% for error in field.errors %}{{ error }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</span>

                    {% if forloop.last %}
                        <div class="form_group map_control">
                            <label class="control-label">{% trans 'Отметьте местопроведение иветна' %}</label>
                            <div id="map"></div>
                        </div>
                    {% endif %}
                </div>
                {% if field.name in 'description' %}
                    <fieldset class="wrap-previw-button">
                        <label class="control-label" >Изображение</label>
                        <br/>
                        {% for field in img_form.visible_fields %}
                            {{ field }}
                            {{ field.errors }}
                        {% endfor %}
                    </fieldset>
                    <div id='photo_from_url'>
                        <label for="id_img_from_url" class="control-label" >{% trans 'Фото по url' %}</label>
                        <input id="id_img_from_url" maxlength="500" name="img_from_url" type="text" form="form_url" />
                    </div>
                    {#   картинки         #}
                    <div class="img_errors"></div>
                    <div class="img_previews">
                        {{ images }}
                        {% for image in images %}
                            <div class="preview {% ifequal cover_pk image.id %}active{% endifequal %}">

                                {% thumbnail image.image "75x75" crop='center' as im %}
                                    <img src="{{ im.url }}">
                                {% endthumbnail %}
                                <a class="preview_del" href="{{ image.get_delete_url }}"></a>
                                <a class="cover_url" href="{{ image.get_cover_url }}">Сделать обложкой</a>
                            </div>
                        {% endfor %}
                    </div>
                    {# картинки #}
                    <div class="form-group">
                        <label class="control-label">{% trans 'Аудио' %}</label>
                        <input class="form-control" id="id_audio" name="audio" type="file" />
                        <span class="error error-audio"></span>
                        <div class="loader" id="audio_loader"><img src="{% static 'images/ajax-loader2.gif' %}"></div>
                        <div class="audio_previews">
                            {%  if obj.audio %}
                                <a href="{{ obj.audio.url }}" class="audio_link">{{ obj.get_audio_name }}</a> {{ obj.get_audio_size }}
                                <a class="audio_del" href="{% url 'event:upload_del' pk=obj.pk field='audio' %}"><i class="fa fa-trash-o"></i></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="submit_button">{% trans 'Создать' %}</button>
            </div>
        </form>
    </div>
{% endblock %}
