{% extends "base_events.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags widget_tweaks chat_tags %}

{% block title %}{% trans 'Ивент' %} - {{ event.title }}{% endblock %}

{% block javascript %}
    {% chat_head %}
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/comment.js' %}"></script>

    {% if event.address %}

        <script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"></script>
        <script type="text/javascript">
            ymaps.ready(function() {
                var myMap, myPlacemark;
                var address = '{{ event.address|default:'' }}';
                var lat = 53.9;
                var lng = 27.56667;
                if (address) {

                    address = address.split(';;');
                    lat = address[0];
                    lng = address[1];
                }

                myMap = new ymaps.Map('map', {
                    center: [lat, lng],
                    zoom: 12,
                    behaviors: ["default", "scrollZoom"]
                });

                if (address) {
                    myPlacemark = new ymaps.Placemark([lat, lng], {
                        hintContent: '{{ event.title }}',
                        balloonContent: '{{ event.description }}'
                    });
                    myMap.geoObjects.add(myPlacemark);
                }
            });
        </script>
    {% endif %}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'event:list' %}">{% trans 'Все Ивенты' %}</a>
{% endblock breadcrumbs %}

{% block content %}
    <div class="content center">
        {% if is_can_up %}
            <div><a href="{% url 'event:up' pk=event.pk %}" class="btn">{% trans 'Поднять в списке' %}</a></div>
        {% endif %}

        {% if is_cat_edit %}
            <div><a href="{% url 'event:edit' pk=event.pk %}" class="btn">{% trans 'Редактировать' %}</a></div>
        {% endif %}
        {% if is_can_see_key %}
            {% trans 'Ссылка для редактирования' %}:
            <br><br>
            <input id="edit-links" type="text" size="20" value="http://{{ request.META.HTTP_HOST }}{% url 'event:edit_for_key' pk=event.pk key=event.edit_key %}" onClick="this.select();">
            <button class="btn zclip" id="copy-btn">{% trans 'Копировать' %}</button>
        {% endif %}
        <h1>{{ event.title }}</h1>
        <div class="clearfix">
            <div class="ad_main_img">
                {% with event.eventimage_set.all as images %}
                    <div class="small_img">
                        {% for img in images %}
                            {% thumbnail img.image "80x60" crop='center' as im %}
                                <a href="{{ img.image.url }}">
                                    <img src="{{ im.url }}">
                                </a>
                            {% endthumbnail %}
                        {% endfor %}
                    </div>
                    {% for img in images %}
                        {% if img.image %}
                            <a data-fancybox-group="gallery" href="{{ img.image.url }}"
                                    {% if not event.cover_id and forloop.counter == 1 %}
                                    {% elif event.cover_id != img.id %}
                               class="visible"
                                    {% endif %}>
                                {% thumbnail img.image "480x323" as im %}
                                    <img style="margin:{{ im|margin:"480x323" }}" src="{{ im.url }}">
                                {% endthumbnail %}
                            </a>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </div>
            <!-- {{ event.title }} -->
            <h4>{% trans 'Дата создания' %}</h4>
            <p>{{ event.created }}</p>
            <h4>{% trans 'Дата проведения' %}</h4>
            <p>{{ event.datetime }}</p>
            <h4>{% trans 'Персональные данные' %}</h4>
            <p>
                <b>{% trans 'Имя' %}:</b> {{ event.name|default:'Не указано' }}
            </p>
            <p><b>{% trans 'email' %}:</b> {{ event.email|default:'Не указано' }}</p>
            <p><b>{% trans 'Телефон' %}:</b> {{ event.phone|default:'Не указано' }}</p>
            <p><b>{% trans 'skype' %}:</b> {{ event.skype|default:'Не указано' }}</p>
            {% if user != event.user %}
                <a class="btn pull-right" href="{% url 'cabinet:message_new' %}?to={{ event.user.username }}">{% trans 'Написать личное сообщение' %}</a>
            {% endif %}
            {% if event.audio %}
                <audio controls {% if site_settings.AUDIO_PLAY %}autoplay{% endif %} id="audio-player">
                    <source src="{{ event.audio.url }}" type="audio/mpeg">
                    Тег audio не поддерживается вашим браузером.
                </audio>
                <script type="text/javascript">
                    $(document).ready(function() {
                        document.getElementById("audio-player").volume = {{ site_settings.AUDIO_VOLUME }} / 100;
                    });
                </script>
            {% endif %}
            <div id="vk_like"></div>
            <script type="text/javascript">
                VK.Widgets.Like("vk_like", {type: "button"});
            </script>
            <br>
            <script type="text/javascript">
                document.write(VK.Share.button(false,{type: "round", text: "Сохранить"}));
            </script>
            <div class="pull-right">
                <a id="like" href="{% url 'event:like' event.pk 'like' %}"><i class="fa fa-thumbs-o-up"></i></a>
                <span class="count-like">{{ event.likes_count }}</span>
                <a id="dislike" href="{% url 'event:like' event.pk 'dislike' %}"><i class="fa fa-thumbs-o-down"></i></a>
                <span class="count-dislike">{{ event.dislike_count }}</span>
            </div>
            <i class="fa fa-check" style="display:none;"></i>
        </div>
        <h3>Описание</h3>
        <div class="ad_desc invent-text">
            <p>{{ event.description|safe }}</p>
        </div>
        {% if event.address %}
            <div id="map"></div>
        {% endif %}

        {% if request.user.is_authenticated %}
            <div id="comments">
                {% if request.user.is_authenticated and not event.get_comments_first_page.exists %}
                    <header>Комментарии:</header>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <form action="{% url 'event:comment_add' pk=event.pk %}" id="comment-form" method="post" data-id="" class="event_comment_form">
                        {% csrf_token %}
                        {{ comment_form.message }}
                        {% if comment_form.message.errors %}
                            {% for error in comment_form.message.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                        <button type="submit">Отправить</button>
                    </form>
                {% endif %}
                {% include 'event/comments.html' with comments=event.get_comments_first_page %}
                {% if event.get_event_page_count > 1 %}
                    <a href="{% url 'event:comment_page' pk=event.pk %}" page="2" id="get-messages">{% trans 'Подгрузить еще коментарии' %}</a>
                {% endif %}
            </div>
        {% else %}
            <p>{% trans 'Чтобы видеть коментарии необходимо авторизироваться' %}</p>
        {% endif %}
    </div>

    <aside class="right">
        <div class="category_block">
            <header>Чат</header>
            {% if not test_server %}
                {% chat %}
            {% endif %}
        </div>
    </aside>
{% endblock %}


