{% extends "base_events.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags widget_tweaks event_tags chat_tags %}

{% block title %}{% trans 'Ивенты' %}{% endblock %}

{% chat_head %}

{% block javascript %}

{% endblock javascript %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'event:list' %}">{% trans 'Все Ивенты' %}</a>
{% endblock breadcrumbs %}

{% block content %}

    <aside class="left">
        <h3><a href="{% url 'event:list' %}">Всего {{ count_event }}</a></h3>
        <ul class="categories">
            {% event_category_tag as ect %}
            {% for x in ect %}
                <li><a href="{% url 'event:list' %}{% get_params category=x.id %}">
                    {% if x.icon_name %}<i class="fa {{ x.icon_name }}"></i>{% endif %}{{ x.title }}</a>{% if x.count_events != 0 %}<span class="pull-right">{{ x.count_events }}</span>{% endif %}</li>
            {% endfor %}
        </ul>
    </aside>
    {% block center %}
        <div class="content">

            <div class="category_block">
                <header>Фильтр</header>
                {% event_filter_form as filter_form %}
                <form action="{% url 'event:list' %}{% get_params %}" method="get" class="event_filter_form clearfix">
                    {% for field in filter_form %}
                        <div class="form-group {% if field.errors %}has-error{% endif %} {{ field.field.widget.attrs.class }}">
                            {% if field.errors %}
                                <label class="control-label" for="inputError1">
                                    {% for error in field.errors %}{{ error }}{% if not forloop.last %}<br>{% endif %}{% endfor %}
                                </label>
                            {% endif %}
                            {% render_field field placeholder=field.label class='form-control' %}
                        </div>
                    {% endfor %}
                    <div class="form-group pull-right">
                        <button type="submit" class="btn btn-primary">{% trans 'Фильтровать' %}</button>
                    </div>
                </form>
            </div>

            <div class="category_block events">
                <header>{% if request.GET.query %}{% trans 'Результат поиска:' %}"{{ request.GET.query }}"<a href="{% url 'event:list' %}{% get_params query='' %}">[x]</a>{% else %}{% trans 'Свежие ивенты' %}{% endif %}</header>
                <script src="http://malsup.github.com/jquery.cycle2.js"></script>{# если встявлять в другое место почемуто не работает #}
                {% for event in events %}
                    <div class="item clearfix">
                        <div class="item_img">
                            <a href="{% url 'event:detail' pk=event.pk %}">
                                <div class="cycle-slideshow"
                                     data-cycle-pause-on-hover="true"
                                     data-cycle-speed="{{ site_settings.time_slider }}"
                                        >
                                    {% for image in event.eventimage_set.all %}
                                        {#                    {{ event.self.eventimage_set. }}#}
                                        {% thumbnail image.image "80x65" crop='center' as im %}
                                            <img src="{{ im.url }}" alt="" {% if forloop.counter != 1 %} style='display: none;'{% endif %}>
                                        {% endthumbnail %}
                                    {% empty %}
                                        <img src="{% static 'images/nophoto.jpg' %}" alt="">
                                    {% endfor %}
                                </div>
                            </a>
                        </div>
                        <div class="item_desc">
                            <p class="desc {% if not event.is_actual %}over{% endif %}">
                                <a href="{% url 'event:detail' pk=event.pk %}">{{ event.title }}</a>

                                {% if request.user.is_authenticated %}
                                    <span class="pull-right">
                                        <a id="like" href="{% url 'event:like' event.pk 'like' %}"><i class="fa fa-thumbs-o-up"></i></a>
                                        <span class="count-like">{{ event.likes_count }}</span>
                                        <a id="dislike" href="{% url 'event:like' event.pk 'dislike' %}"><i class="fa fa-thumbs-o-down"></i></a>
                                        <span class="count-dislike">{{ event.dislike_count }}</span>
                                        <i class="fa fa-check" style="display:none;"></i>
                                    </span>
                                {% endif %}
                            </p>
                            <p>{% trans 'дата проведения' %} <i>{{ event.datetime }}</i></p>
                            <p class="ad_city">
                                {% if event.region %}{{ event.region.title_ru }}{% endif %}{% if event.city %}, {{ event.city.title_ru }}{% endif %}
                            </p>
                            <div class="info">
                                <span>
                                    {% if user != event.user %}
                                        <a href="{% url 'cabinet:message_new' %}?to={{ event.user.username }}">{{ event.user.username }}</a>
                                    {% else %}
                                        {{ event.user.username }}
                                    {% endif %}
                                    {#                                {{ cdate|ru_strftime:"%d %B %Y, %A" }}#}
                                    дата создания - {{ event.created }},
                                </span>
                                {% if event.user == request.user %}
                                    <a href="{% url 'event:edit' pk=event.pk %}"><i class="fa fa-pencil-square-o"></i></a>
                                {% endif %}
                                {% if event.comments_count < 1 %}
                                    <i class="fa fa-comment-o"></i>
                                {% else %}
                                    {{ event.comments_count }}<i class="fa fa-comment"></i>
                                {% endif %}
                                {#                {{ event.likes_count }}<i class="fa fa-thumbs-up"></i>#}
                            </div>
                            <a href="{% url 'event:detail' pk=event.pk %}">{% trans 'подробнее' %}</a>
                        </div>
                    </div>
                {% empty %}
                    <p class="warning">{% trans 'Нет ивентов' %}</p>
                {% endfor %}
            </div>

            {% if is_paginated %}
                <ul class="pagination">
                    {% if orders.has_previous %}
                        <li class="arrow"><a href=""> < </a></li>
                    {% else %}
                        <li class="arrow unavailable"><a href="#"> < </a></li>
                    {% endif %}
                    {% for num_page in orders.paginator.page_range %}
                        <li {% if num_page == orders.number %}class="current"{% endif %}><a href="">{{ num_page }}</a></li>
                    {% endfor %}
                    {% if orders.has_next %}
                        <li class="arrow"><a href="">></a></li>
                    {% else %}
                        <li class="arrow unavailable"><a href="#">></a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

        <aside class="right">
            <div class="category_block">
                <header>Чат</header>
                {% if not test_server %}
                    {% chat %}
                {% endif %}
            </div>
        </aside>
    {% endblock %}

{% endblock %}


