{% load i18n %}
{% if user.is_authenticated %}
  <script type="text/javascript">
    $(document).ready(function() {
      var api, currentdate, hour, minute, second;


      function socket_connect() {
        var socket = new SockJS('http://' + window.location.hostname + ':8989/chat');
        socket.onmessage = function(e){
          chat_send(
            e.data.data['message'],
            e.data.data['username'],
            e.data.data['avatar']
          );
        };

        socket.onclose = function(e){
          setTimeout(socket_connect, 5000);
        };

        $('form#chat-form').submit(function() {
          msg = $('#chat-form-message').val();
          img = '{{ user.get_chat_avatar }}';
          $('#chat-form-message').val('');
          if (msg.replace(/\n/g,'').replace(/ /g,'') == '') {
            api.positionDragY(api.getContentHeight());
            return false;
          } else if (msg.length > {{ max_length }}) {
            alert('Максимальное число символов для сообщения {{ max_length }}');
            api.positionDragY(api.getContentHeight());
            return false;
          }
          socket.send('send,' + msg);
          chat_send(msg.replace(/\n/g,'<br>'), 'Я', img);
          return false;
        });
      }

      function chat_send(msg, from, avatar){
        currentdate = new Date();
        localTime = currentdate.getTime();
        localOffset = currentdate.getTimezoneOffset() * 60000;
        utc = localTime + localOffset;
        offset = {{ tz_delta }};
        minsk = utc + (3600000*offset);
        currentdate = new Date(minsk);
        hour = (currentdate.getHours() >= 10) ? currentdate.getHours(): '0' + currentdate.getHours();
        minute = (currentdate.getMinutes() >= 10) ? currentdate.getMinutes(): '0' + currentdate.getMinutes();
        second = (currentdate.getSeconds() >= 10) ? currentdate.getSeconds(): '0' + currentdate.getSeconds();
        $('#chat-message-list').append("<li><span class=\"chat_img\"><img src=\"" + avatar + "\"></span><span class='chat_user'>" + from + "<span class=\"chat_time\">[" + hour + ":" + minute + ":" + second +"</span>]:</span> <span class='chat_message'>" + msg + "</span></li>");
        api.positionDragY(api.getContentHeight());

      };

      try{
        var pane = $('#div-chat-message-list');
        pane.jScrollPane({autoReinitialise: true, stickToBottom: true});
        api = pane.data('jsp');
      }
      catch(e){
        console.log(e);
      }

      $('#chat-form-message').keypress(function(event) {
        if (event.ctrlKey && event.keyCode == 13) {
          $('#chat-form-message').val($('#chat-form-message').val() + '\n')
        } else if (!event.ctrlKey && event.keyCode == 13) {
          $('#chat-form').submit();
        }
      });
      socket_connect();
      setTimeout(function(){ api.positionDragY(api.getContentHeight());}, 600);
    });
  </script>
{% endif %}
<div id="chat" class="chat-window">
  <div class="chat_container">
    {% if user.is_authenticated %}
      <div id="div-chat-message-list">
        <ul id="chat-message-list" style="min-height: 200px;">
          {% for name, time, message, avatar in history %}
            <li class="clearfix"><span class="chat_img"><img src="{{ avatar }}"></span><span class="chat_user">{{ name }}[<span class="chat_time">{{ time }}</span>]:</span> <span class="chat_message">{{ message|linebreaks }}</span></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div id="div-chat-form">
      <form id="chat-form">
        {% if user.is_authenticated %}
          <label for="name_chat">{% trans 'Сообщение' %}: </label>
          <textarea id="chat-form-message" name="chat-message" value=""></textarea>
          <input type="submit" id="chat-form-send" name="chat-send" value="{% trans 'Написать' %}">
        {% else %}
          <p class="warning">{% trans 'Для использования чата необходимо авторизироваться' %}</p>
        {% endif %}
      </form>
    </div>
  </div>
</div>
