{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'chat/jquery.jscrollpane.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'chat/chat.css' %}">
<script type="text/javascript" src="http://cdn.jsdelivr.net/sockjs/0.3.4/sockjs.min.js"></script>
<script type="text/javascript" src="{% static 'chat/jquery.jscrollpane.min.js' %}"></script>
<script type="text/javascript" src="{% static 'chat/jquery.mousewheel.js' %}"></script>