.chat_container{
    padding: 10px;
}

#div-chat-message-list{
    max-height: 300px;
    margin-bottom: 10px;
}

#chat-message-list li{
    font-size: 14px;
    margin-bottom: 5px;
}

.chat_user{
    display: inline-block;
    vertical-align: top;
    color: #2CBD63;
    font-size: 14px;
    font-weight: bold;

    /*float: left;*/
}

.chat_img img {
    display: inline-block;
    vertical-align: top;

    /*padding-top: 3px;*/
}

.chat_time{
    color: dimgrey;
    font-size: 9px;
}

.chat_message{
    display: inline-block;
    /*vertical-align: top;*/
    padding: 3px 10px;
    background: rgb(144, 238, 144);
    border-radius: 5px;
    position: relative;
    margin-left: 10px;
    font-size: 12px;
    color: #808080;
    max-width: 160px;
    word-wrap: break-word;
}

.chat_message:before{
    content: "";
    display: block;
    width: 8px;
    height: 15px;
    position: absolute;
    left: -8px;
    background: url(../arrow.png);
}

/*#div-chat-message-list{
    max-height: 200px;
}
*/

#chat-form-message{
    display: block;
    width: 100%;
    height: 50px;
}

#chat-form-send{
    display: inline-block;
    font: 400 13px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    border: 0;
    cursor: pointer;
}
