@font-face{
    font-family: Arial;
    src: url(../fonts/ARIAL.TTF);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Open Sans, Arial;
}

.main_header{
    min-height: 100px;
    /* background: url(../images/header.jpg) no-repeat top center; */
    background: #d44032;
}

.container{
    width: 990px;
    margin: 0 auto;
    font-size: 0;
    padding: 10px 0;
}

.main_header .container{
    padding-top: 0;
}

.top{
    height: 29px;
    background: #F1F1F1;
}

.top .container{
    padding-top: 0;
}

.top span{
    font: 400 13px/23px Open Sans, Arial;
    color: #d44032;
}

.top .region a{
    font: 400 13px/23px Open Sans, Arial;
    color: #d44032;
    text-decoration: none;
    border-bottom: 1px dashed #d44032;
}

.top .buttons{
    float: right;
}

.top .buttons a{
    font: 400 13px/23px Open Sans, Arial;
    color: #d44032;
    text-decoration: none;
    margin: 0 5px;
    border-bottom: 1px dashed #d44032;
}

.top .buttons a span{
    font-size: 15px;
}

.main_header .header .logo {
    display: inline-block;
    font: 400 50px 'Nova Square', cursive;
    /* color: #e6090c; */
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
}

.main_header .wrap-logo {
    display: block;
    width: 225px;
    float: left;
    height: inherit;
}

.padd-fix {
    padding: 0;
}

.main_header .image-logo {
    display: block;
    margin-top: 0;
    height: 111px;
    width: inherit;
    /*background-size: contain;*/
    background-size: contain;
    background-repeat: no-repeat;
}

.main_header .header .advertisement{
    display: inline-block;
    font: 400 16px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    padding: 10px 35px;
    float: right;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
}

.main_footer .container .advertisement{
    display: inline-block;
    font: 400 16px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 35px;
    float: right;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
}

.main_header .header .advertisement:hover,
.main_footer .container .advertisement:hover{
    background: #1EDA5A;
}

.main_header .header .logo:hover{
    color: #8e0509;
}

.search_form{
    display: inline-block;
    vertical-align: top;
    margin: 30px 0 0 55px;
    box-shadow: 0 0 5px #250F10;
    border-radius: 3px;
}

.search_form input:focus{
    outline: 0 none;
}

.search_form input[type=text]{
    background: #fff;
    /* border: 1px solid #e3e3e3; */
    border: 0;
    border-radius: 3px 0 0 3px;
    padding: 5px 15px;
    font: 400 14px/18px Open Sans, Arial;
    height: 20px;
    /* font-style: italic; */
    color: #000;
    width: 300px;
}

.search_form input[type=submit]{
    /* background: #086e2f; */
    background: #2CBD63;
    /* border: 1px solid #033b1f; */
    border: 0;
    border-radius: 0 3px 3px 0;
    padding: 4px 20px;
    font: 500 16px/21px Open Sans, Arial;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin-bottom: -1px;
    box-shadow: -1px 0 3px #250F10;
}

.search_form input[type=submit]:hover{
    background: #1EDA5A;
}

.container aside.left,
.container div.content,
.container aside.right{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.container aside.left{
    width: 225px;
}

.container aside.right{
    width: 225px;
    margin-left: 10px;
}

.container aside.left h3, .container aside.left h3 a{
    border: 1px solid #e3e3e3;
    border-radius: 5px 5px 0 0;
    font: 700 16px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    padding: 7px 0 5px 15px;
    text-decoration: none;
    background: #e3e3e3;
}

.container aside.left ul.categories{
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    list-style: none;
}

.container aside.left ul.categories > li {
    border-top: 1px solid #e3e3e3;
    padding: 7px 0 7px 15px;
}

.container aside.left ul.categories > li:first-child{
    border-top: 0;
}

.container aside.left ul.categories > li a{
    font: 400 14px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    text-decoration: none;
}

.container aside.left ul.categories > li a:hover{
    /* color: #098e33; */
    /* color: #9E9B9B; */
    text-decoration: underline;
}

.container aside.left ul.categories > li span{
    display: inline-block;
    float: right;
    /* background: #098e33; */
    padding: 3px 5px;
    border-radius: 3px;
    font: 400 10px Open Sans, Arial;
    /* color: #fff; */
    /*color: #9E9B9B;*/
    margin-right: 7px;
    background-color: rgba(44, 189, 99, 0.81);
    color: white;
}

.container aside.left ul.categories > li ul{
    padding-top: 10px;
    display: none;
}

.container aside.left ul.categories > li ul li{
    padding: 5px 0 5px 30px;
}

.container aside.left ul.categories > li ul li a{
    font: 400 12px Open Sans, Arial;
    /* color: #f90711; */
    color: #9E9B9B;
    text-decoration: none;
}

.container aside.left ul.categories > li ul li a:hover{
    text-decoration: underline;
}

.container div.content{
    width: 520px;
    margin-left: 10px;
}

.container div.content.center{
    width: 755px;
    margin-left: 0px;
}

.container div.content.center h4 + p{
    margin-bottom: 10px;
}

.container .popular{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    font-size: 0;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.container .popular header{
    padding: 7px 0 5px 20px;
    border-bottom: 1px solid #e3e3e3;
    font: 700 20px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    background: #e3e3e3;
}

.container .popular .column{
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.container .popular .column img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.container .popular .column > a.catecory_name{
    display: block;
    margin-top: 10px;
    padding: 0 5px;
    text-align: center;
    font: 700 16px Open Sans, Arial;
    color: #111;
    text-decoration: none;
}

.container .popular .column > a.catecory_name:hover{
    text-decoration: underline;
}

.container .popular .column > a{
    display: block;
    margin-top: 5px;
    padding: 0 5px;
    text-align: center;
    font: 700 12px Open Sans, Arial;
    /* color: #f90711; */
}

.container .category_block{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    font-size: 0;
    margin-bottom: 10px;
}

.container .category_block header{
    padding: 7px 0 5px 20px;
    border-bottom: 1px solid #e3e3e3;
    font: 700 20px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    background: #e3e3e3;
}

.container .category_block header a{
    font: 700 20px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    text-decoration: none;
}

.container .category_block header a:hover{
    text-decoration: underline;
}

.container .category_block .column{
    display: inline-block;
    vertical-align: top;
    width: 258px;
    border-left: 1px solid #e3e3e3;
    padding: 5px 0;

}

.container .category_block .item{
    margin-bottom: 5px;
}

.container .category_block .item .item_img, .message .item_img {
    padding: 5px;
    float: left;
}
.message .item_img img {
    margin-right: 10px;
}

.container .category_block .item .item_img img{
    width: 80px;
    height: 65px;
}

.container .category_block .item .item_desc, .message .item_desc{
    padding: 0 5px;
    margin-left: 90px;
}

.container .category_block .item .item_desc p{
    font: 400 12px Open Sans, Arial;
    color: #808080;
}

.container .category_block .item .item_desc p.price{
    font: 400 14px Open Sans, Arial;
    color: #1fa54a;
   /*  padding: 3px 0; */
}

.container .category_block .item .item_desc p.desc{
    padding-top: 4px;
    height: 28px;
    overflow: hidden;
}

.container .category_block .item .item_desc p.desc a, .message_list a{
    font: 400 12px Open Sans, Arial;
    color: #111;
    text-decoration: none;
}

.container .category_block .item .item_desc p.over a{
    color: #BABABA;
}

.container .category_block .item .item_desc p.desc a:hover, .message_list a:hover {
    text-decoration: underline;
}

.clr{
    clear: both;
}

.container .category_block div .column:first-child{
    border-left: 0;
}


aside.right .category_block{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin-left: 0px;
    font-size: 0;
    width: 100%;
    margin-top: 0;
}

aside.right .category_block header{
    padding: 7px 0 5px 20px;
    border-bottom: 1px solid #e3e3e3;
    font: 700 18px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    background: #e3e3e3;
}

aside.right .category_block .item{
    margin-bottom: 5px;
}

aside.right .category_block .item .item_img{
    padding: 5px;
    float: left;
}

aside.right .category_block .item .item_img img{
    width: 80px;
    height: 65px;
}

aside.right .category_block .item .item_desc{
    padding: 0 5px;
    margin-left: 90px;
}

aside.right .category_block .item .item_desc p{
    font: 400 12px Open Sans, Arial;
    color: #808080;
}

aside.right .category_block .item .item_desc p.price{
    font: 400 14px Open Sans, Arial;
    color: #1fa54a;
    /*padding: 3px 0;*/
}

aside.right .category_block .item .item_desc p.desc{
    /*padding-top: 4px;*/
    height: 35px;
    overflow: hidden;
}

aside.right .category_block .item .item_desc p.desc a{
    font: 400 12px Open Sans, Arial;
    color: #111;
}

.clear{
    clear: both;
}

.main_footer{
    clear:both;
    margin-top: 10px;
    background: #d44032;
}

.main_footer .container{
   /*  border-top: 1px solid #e3e3e3; */
    padding-top: 10px;
    position: relative;
}

.main_footer .links{
    margin-left: 300px;
}

.main_footer .links a{
    font: 400 16px Open Sans, Arial;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.main_footer .links a:hover{
    text-decoration: underline;
}

.main_footer .copyright {
    position: relative;
    font: 400 12px Open Sans, Arial;
    color: #fff;
    margin-top: 20px;
    padding-left: 109px;
}

.main_footer .copyright .develop{
    margin-left: 200px;
    font: 400 12px Open Sans, Arial;
    color: #fff;
}

.main_footer .copyright .develop a{
    font: 400 12px Open Sans, Arial;
    color: #fff;
}

.main_footer{
    position: relative;
}

.main_footer .counter{
    bottom: 30px;
    display: inline-block;
    position: relative;
    top: 5px;
}
.main_footer .counter.base_event, .main_footer .counter.base {
    left: 0;
}

.main_footer .counter img{
    margin-left: 5px;
}

#modal{
    display: none;
    /* width: 400px;
    height: 300px; */
    background: #F1F1F1;
    padding: 15px;
}

.tabs li{
    display: inline-block;
}

.tabs li a{
    font: 400 12px Open Sans, Arial;
    color: #111;
    margin-right: 10px;
    padding: 3px 10px;
}

.tabs li.active a{
    text-decoration: none;
    background: #d44032;
    color: #fff;
}

.tabs_content{
    margin-top: 15px;
}

.tabs_content > div{
    display: none;
}

.tabs_content > div.opened{
    display: block;
}

.tabs_content > div p{
    margin-bottom: 10px;
}

.tabs_content > div p input{
    display: block;
    padding: 0 10px;
    font: 400 14px/24px Open Sans, Arial;
    border: 0;
    box-shadow: 0 0 2px #250F10;
    width: 320px;
}

.tabs_content > div p input:focus{
    outline: 0 none;
    box-shadow: 0 0 5px #250F10;
}

.tabs_content > div p:last-child{
    text-align: center;
}

.tabs_content > div p input[type=submit]{
    cursor: pointer;
    display: inline-block;
    width: auto;
    background: #2CBD63;
    padding: 5px 20px;
    font: 700 16px/21px Open Sans, Arial;
    color: #fff;

}

.tabs_content > div p input[type=submit]:hover{
    background: #1EDA5A;
}

#modal p label{
    display: block;
    margin-bottom: 3px;
    font: 400 10px Open Sans, Arial;
}

.filter{
    padding: 10px;
}

.filter fieldset{
    border: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px;
}

.filter fieldset > label{
    margin-bottom: 3px;
    font: 400 12px Open Sans, Arial;
    display: block;
    color: #9E9B9B;
}

.filter fieldset > div > label{
    font: 400 12px Open Sans, Arial;
    color: #9E9B9B;
    margin: 0 5px;
}

#slider-range{
    width: 200px;
    height: 10px;
    margin-top: 5px;
}

#slider-range .ui-widget-header{
    background: #2CBD63;
}

#slider-range .ui-slider-handle{
    width: 14px;
    height: 14px;
    margin-top: -3px;
}

#slider-range .ui-slider-handle:focus{
    outline: 0 none;
}

#slider-range .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #d44032;
}

#id_price_min, #id_price_max{
    width: 66px;
    text-align: center;
}

.filter .keywords{
    width: 180px;
}

.filter input[type=submit]{
    cursor: pointer;
    display: inline-block;
    width: auto;
    background: #2CBD63;
    padding: 5px 15px;
    font: 700 16px/21px Open Sans, Arial;
    color: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    margin-top: 5px;
    margin-left: 35px;
}

.filter input[type=submit]:hover{
    background: #1EDA5A;
}

.filter .select_wraper{
    display: inline-block;
    width: 200px;
    min-height: 20px;
    background: url(../images/select_right.png) no-repeat top right;
    overflow: hidden;
}

.filter .select_wraper select{
    width: 230px;
    height: 20px;
    line-height: 20px;
    background: transparent;
}

.filter #id_keywords{
    width: 200px;
}

.filter .select_wraper select option{
    width: 115px;
}

.content h1{
    font: 700 24px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    margin-bottom: 10px;
}

.content h3{
    font: 700 18px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    margin-bottom: 10px;
}

.tape_ads .ad{
    border-bottom: 1px solid #e3e3e3;
    padding: 5px 0;
    position: relative;
}

.tape_ads .ad .not_actual{
    position: absolute;
    box-sizing: border-box;
    font: 400 14px OpenSans,Arial;
    width: 102px;
    height: 82px;
    top: 5px;
    color: #d44032;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding-top: 33px;
}

.tape_ads .ad:first-child{
    border-top: 1px solid #e3e3e3;
}

.ad > img{
    border: 1px solid #e3e3e3;
    width: 100px;
    height: 80px;
    float: left;
}

.ad .ad_price{
    float: right;
}

.ad_info{
    margin-left: 100px;
    padding-left: 10px;
}

.ad_price{
    width: 110px;
    font: 400 12px Open Sans, Arial;
    color: #1fa54a;
    text-align: center;
    padding-top: 5px;
}

.ad_price .control{
    display: block;
    font: 400 14px Open Sans, Arial;
    color: #808080;
    text-align: right;
    width: 100%;
    padding-top: 10px;
}

.ad_price .comments{
    display: block;
    font: 400 14px Open Sans, Arial;
    color: #808080;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.ad_price .comments span:before{
    font-family: FontAwesome;
    color: #808080;
    content: "\f0e6";
    font-size: 18px;
}

.ad_info header{
    margin-right: 100px;
    margin-bottom: 5px;
}

.ad_info header a{
    font: 400 14px Open Sans, Arial;
    color: #111;
    text-decoration: none;
}

.ad_info header a:hover{
    text-decoration: underline;
}

.ad_info p{
    font: 400 12px Open Sans, Arial;
    color: #111;
    margin-right: 110px;
}

.ad_info p.ad_short_desc{
    height: 34px;
}

.ad_info p.cabinet_ad_short_desc{
    height: 40px;
}

.ad_info p.ad_city{
    font: 400 12px Open Sans, Arial;
    color: #808080;
    padding-top: 5px;
}

.ad_controls{
    margin-bottom: 5px;
}

.ad_controls a{
    margin-right: 10px;
}

.pagination{
    background: #e3e3e3;
    padding: 5px 10px;
    text-align: center;
}

.pagination a {
    font: 400 14px Open Sans, Arial;
    color: #1fa54a;
    margin-right: 5px;
}

.pagination a.active{
    text-decoration: none;
}

.pagination a.prev,
.pagination a.next{
    font-family: FontAwesome;
    text-decoration: none;
    font-weight: bold;
}

.pagination a.next:before{
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f054";
}

.pagination a.prev:before{
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f053";
}

.ad_main_img{
    margin-bottom: 20px;
    font-size: 0;
}

.ad_main_img > *{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #e3e3e3;
}

.ad_main_img a > img {
    display: block;
    /*width: 480px;*/
    padding: 0 30px;
    /*height: 323px;*/
    margin: 0 auto;
    /*border: 1px solid #e3e3e3;*/
}

.ad_main_img a.visible{
    display: none;
}

.ad_main_img .small_img a img{
    display: block;
    width: 80px;
    height: 60px;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-right: 0;
}

.ad_main_img .small_img a:first-child img{
    border-top: 1px solid #e3e3e3;
}

.ad_main_img .small_img img:hover{
    background: #e3e3e3;
}

.ad_main_img .small_img.right a img{
    display: block;
    width: 80px;
    height: 60px;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-left: 0;
}

.ad_main_img .small_img.right a:first-child img{
    border-top: 1px solid #e3e3e3;
}

.ad_main_img .small_img.right img:hover{
    background: #e3e3e3;
}

.ad_main_img a#prev4:before{
    font-family: FontAwesome;
    font-size: 18px;
    content: "\f053";
    text-decoration: none;
    color: #808080;
}

.ad_main_img a#next4:before{
    font-family: FontAwesome;
    font-size: 18px;
    content: "\f054";
    text-decoration: none;
    color: #808080;
}

.ad_main_img a#prev4{
    position: absolute;
    top: 20px;
    left: 0px;
    text-decoration: none;
}

.ad_main_img a#next4{
    position: absolute;
    top: 20px;
    right: 0px;
    text-decoration: none;
}

.ad_desc p{
    font: 400 14px Open Sans, Arial;
    color: #000000;
    margin-bottom: 10px;
}

.seller{
    padding: 10px;
}

.seller p.name a{
    font: 800 14px Open Sans, Arial;
    color: #111;
    vertical-align: top;
}

.seller p.name a:hover{
    text-decoration: none;
}

.seller p.name img.avatar{
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.seller p{
    margin-bottom: 10px;
}

.seller p.phone,
.seller p.mail{
    margin-left: 12px;
}

.seller p.phone i{
    font-size: 20px;
}

.seller p.phone i:before{
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f095";
    color: #808080;
    margin-right: 10px;
    font-style: normal;
}

.seller p.phone a{
    font: 400 14px/20px Open Sans, Arial;
    color: #808080;
    display: inline-block;
    vertical-align: top;
}

.seller p.phone a.vis{
    display: none;
}

.seller p.mail i{
    font-size: 20px;
}

.seller p.mail i:before{
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f0e0";
    color: #808080;
    margin-right: 10px;
    font-style: normal;
}

.seller p.mail a{
    font: 400 14px/20px Open Sans, Arial;
    color: #808080;
    display: inline-block;
    vertical-align: top;
}

.seller p.mail a.vis{
    display: none;
}

.content h1 span.price{
    font: 700 24px Open Sans, Arial;
    color: #111;
    float: right;
    padding: 0 2px;
    border: 1px solid #E5E611;
    background: #E5E611;
}

.profile_links{
    padding: 10px;
}

.profile_links a{
    display: block;
    font: 400 16px Open Sans, Arial;
    color: #111;
    margin-bottom: 8px;
}

.profile_links a:hover{
    text-decoration: none;
}

.profile_links a.active{
    color: #808080;
    text-decoration: none;
}

.user_info > div{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.user_info > div.user_img{
    width: 200px;
    height: 200px;
}

.user_info > div.user_img img{
    width: 200px;
    height: 200px;
}

.bold{
    font-weight: bold;
}

.user_info > div.user_inf{
    padding-left: 10px;
}

.user_info > div.user_inf p{
    font: 400 14px Open Sans, Arial;
    color: #111;
    margin-bottom: 5px;
}

.slideshow{
    margin: 0 auto;
}

.ad_info header span{
    display: inline-block;
    font: 400 8px Open Sans, Arial;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    width: 45px;
    text-align: center;
}

.ad_info header span.type1{
    background: #ff884d;
}

.ad_info header span.type2{
    background: #8ac700;
}

.ad_info header span.type4{
    background: #29B4E0;
}

.ad_info header span.type5{
    background: #A625AC;
}

.ad_info header span.type3{
    background: #FD8808;
}

.ad_info header span.type6{
    background: #949494;
}

span.when{
    color: #808080;
    font-size: 12px;
    margin-right: -80px;
    float: right;
}

.breadcrumbs{
    width: 990px;
    margin: 0 auto;
    padding: 5px 0 0;
}

.breadcrumbs a{
    font: 400 14px Open Sans, Arial;
    color: #808080;
    text-decoration: none;
}

.breadcrumbs a:hover{
    text-decoration: underline;
}

.breadcrumbs a:not(:last-child):after{
    font-family: FontAwesome;
    font-size: 14px;
    color: #808080;
    content: "\f101";
    padding-left: 5px;
}

.content h1 span{
    font: 400 18px Open Sans, Arial;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    margin-right: 10px;
}
.content h1 span.sell{
    background: #ff884d;
}

.content h1 span.buy{
    background: #8ac700;
}

.content h1 span.service{
    background: #29B4E0;
}

.content h1 span.change{
    background: #A625AC;
}

.content h1 span.rent{
    background: #FD8808;
}

.content h1 span.cl{
    background: #949494;
}

#add .select_wraper{
    display: block;
    width: 225px;
    min-height: 20px;
    background: url(../images/select_right.png) no-repeat top right;
    overflow: hidden;
}

#add .select_wraper select{
    width: 240px;
    height: 20px;
    line-height: 20px;
    background: transparent;
}

#add fieldset label{
    margin-bottom: 3px;
    font: 400 12px Open Sans, Arial;
    display: block;
    color: #9E9B9B;
}

#add > fieldset{
    display: inline-block;
    border: 0;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
}

#add input[name=title]{
    width: 270px;
}

#add > p > input[type=submit]{
    display: inline-block;
    font: 400 16px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    padding: 5px 15px;
    float: right;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    cursor: pointer;
    margin-left: 20px;
}

#add fieldset > .mce-container{
    width: 700px !important;
}

#add > p > input[type=submit]:hover{
    background: #1EDA5A;
}

#add > p{
    padding-right: 50px;
}

#add #id_auction{
    height: 22px;
}

.success{
    text-align: center;
    color: #16bc0d;
}

.error_msg{
    display: block;
    text-align: center;
    color: #f00;
    /*font: 400 12px Calibri;*/
}

.ajax-loader {
    cursor: wait;
    background:#f9f9f9 url('../images/ajax-loader.gif') no-repeat center center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    opacity: 0.75;
    position: absolute;
    z-index: 10000;
    display: none;
}

#pswd_info {
    position:absolute;
    bottom: 0px;
    bottom: -115px\9; /* IE Specific */
    right:55px;
    width:250px;
    padding:5px;
    background:#fefefe;
    font-size:.875em;
    border-radius:5px;
    box-shadow:0 1px 3px #ccc;
    border:1px solid #ddd;
    display: none;
}

#pswd_info h4 {
    margin:0 0 0 0;
    padding:0;
    font-weight:normal;
}

#pswd_info::before {
    content: "\25B2";
    position:absolute;
    top: -13px;
    left:45%;
    font-size:12px;
    /*line-height:14px;*/
    color:#ddd;
    text-shadow:none;
    display:block;
}

#pswd_info .invalid {
    background:url(../images/cross.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:20px;
    color:#ec3f41;
}

#pswd_info .valid {
    background:url(../images/tick.png) no-repeat 0 50%;
    padding-left:22px;
    line-height:20px;
    color:#3a7d34;
}

#pswd_info ul, li {
    margin:0;
    padding:0;
    list-style-type:none;
}

#map{
    height: 350px;
    width: 700px;
}

#id_image{
    margin-top: 19px;
}

.img_previews .preview,
.img_previews_from_url_1 .preview_from_url_1,
.img_previews_from_url_2 .preview_from_url_2,
.img_previews_from_url_3 .preview_from_url_3,
.img_previews_from_url_4 .preview_from_url_4{
    position: relative;
    display: inline-block;
    margin-right: 7px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid rgb(169, 169, 169);
}

.img_previews .preview .preview_del,
.img_previews_from_url_1 .preview_from_url_1 .preview_del_from_url_1,
.img_previews_from_url_2 .preview_from_url_2 .preview_del_from_url_2,
.img_previews_from_url_3 .preview_from_url_3 .preview_del_from_url_3,
.img_previews_from_url_4 .preview_from_url_4 .preview_del_from_url_4{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    background: #d44032;
    display: none;
    font-size: 12px;
    line-height: 12px;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    padding: 2px 6px;
    font-weight: bold;
    color: #fff;
    border: 1px solid #fff;
}

.img_previews .preview .preview_del:before,
.img_previews_from_url_1 .preview_from_url_1 .preview_del_from_url_1:before,
.img_previews_from_url_2 .preview_from_url_2 .preview_del_from_url_2:before,
.img_previews_from_url_3 .preview_from_url_3 .preview_del_from_url_3:before,
.img_previews_from_url_4 .preview_from_url_4 .preview_del_from_url_4:before{
    content: 'x';
}

.img_previews .preview:hover .preview_del,
.img_previews .preview:hover .cover_url,
.img_previews_from_url_1 .preview_from_url_1:hover .preview_del_from_url_1,
.img_previews_from_url_2 .preview_from_url_2:hover .preview_del_from_url_2,
.img_previews_from_url_3 .preview_from_url_3:hover .preview_del_from_url_3,
.img_previews_from_url_4 .preview_from_url_4:hover .preview_del_from_url_4{
    display: block;
}

/*.img_previews .preview.active:hover,
.img_previews_from_url_1 .preview_from_url_1.active:hover,
.img_previews_from_url_2 .preview_from_url_2.active:hover,
.img_previews_from_url_3 .preview_from_url_3.active:hover,
.img_previews_from_url_4 .preview_from_url_4.active:hover{
    display: none;
}*/

.errorlist{
    font-size: 10px;
    color: #d44032;
}

#warning{
    display: none;
}

.loader{
    text-align: center;
    padding-bottom: 15px;
}

.cover_url{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 0 5px;
    background: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    font-size: 12px;
    color: #000;
    display: none;
}

.preview.active,
.preview_from_url_1.active,
.preview_from_url_2.active,
.preview_from_url_3.active,
.preview_from_url_4.active{
    background: rgb(169, 169, 169);
}

.img_errors{
    position: relative;
    display: block;
    font-size: 10px;
    color: #d44032;
}

#region {
    display: none;
}

a.del{
    font-size: 14px;
    color: #FF580A;
    font-weight: bold;
}

a.del:hover{
    text-decoration: none;
}

.modal-warning-close, .modal-warning-conf {
    display: inline-block;
    font: 400 14px Open Sans, Arial;
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    padding: 3px 10px;
    float: right;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    cursor: pointer;
    margin-right: 5px;
 }

#edit_profile .select_wraper{
    display: block;
    width: 225px;
    min-height: 20px;
    background: url(../images/select_right.png) no-repeat top right;
    overflow: hidden;
}

#edit_profile .select_wraper select{
    width: 240px;
    height: 20px;
    line-height: 20px;
    background: transparent;
}

#edit_profile p label{
    margin-bottom: 3px;
    font: 400 12px Open Sans, Arial;
    display: block;
    color: #9E9B9B;
}

#edit_profile .column{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}

#edit_profile .column > p{
    border: 0;
    margin-bottom: 5px;
}

label[for=avatar-clear_id]{
    display: inline-block;
    margin-bottom: 5px;
    font: 400 12px/12px Open Sans, Arial;
    color: #9E9B9B;
    vertical-align: top;
}

#edit_profile input[name=title]{
    width: 270px;
}

#edit_profile .column > p > input[type=text],
#edit_profile .column > p > input[type=email],
#edit_profile .column > p > input[type=password]{
    width: 250px;
}

#edit_profile > p > input[type=submit]{
    display: inline-block;
    font: 400 16px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    padding: 5px 15px;
    float: right;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    cursor: pointer;
    margin-left: 20px;
}

#edit_profile fieldset > .mce-container{
    width: 700px !important;
}

#edit_profile > p > input[type=submit]:hover{
    background: #1EDA5A;
}

#edit_profile #id_auction{
    height: 22px;
}

#edit_profile input[type=submit]{
    cursor: pointer;
    display: inline-block;
    width: auto;
    background: #2CBD63;
    padding: 5px 15px;
    font: 700 16px/21px Open Sans, Arial;
    color: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    margin-top: 15px;
}

.none{
    display: block;
    font: 700 16px/21px Open Sans, Arial;
    color: #111;
    text-align: center;
    margin: 10px 0;
}

.comment_add_button{
    cursor: pointer;
    display: inline-block;
    width: auto;
    background: #2CBD63;
    padding: 5px 20px;
    font: 700 16px/21px Open Sans, Arial;
    color: #fff;
    border: 0;
    box-shadow: 0 0 2px #250F10;
    margin-top: 10px;
    margin-bottom: 10px;
}

#comment-form header{
    font: 700 16px Open Sans, Arial;
    color: #000;
    margin-bottom: 10px;
}

#comment-form textarea{
    display: block;
    padding: 10px;
    font: 400 14px/24px Open Sans, Arial;
    border: 0;
    box-shadow: 0 0 2px #250F10;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
}

.user_comment{
    padding: 5px 0;
    border-bottom: 1px solid #e3e3e3;
}

.user_comment:first-child{
    border-top: 1px solid #e3e3e3;
}

.user_comment .user_image{
    float: left;
    margin-right: 10px;
}

.user_comment .user_image img{
    width: 70px;
}

.user_comment .comment_info{
    font: 400 12px Open Sans, Arial;
    color: #111;
    margin-left: 60px;
}

.user_comment .us_info{
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
}

.user_comments .user_comment:nth-child(even){
    background: #F1F1F1;
}

.to_comment,
.quote{
    font: 400 14px Open Sans, Arial;
    color: #808080;
    float: right;
    margin-right: 10px;
}

.user_comment .comment_info .author{
    background: #ccc;
    border-bottom: 1px solid #B1B1B1;
    margin-right: 10px;
    padding: 0 5px;
}

.user_comment .comment_info .quote_text{
    background: #ccc;
    margin-right: 10px;
    padding: 3px 5px;
    margin-bottom: 5px;
}

.yes, .no, .save_cookie, .cookie_cancel{
    display: inline-block;
    font: 400 13px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    padding: 3px 7px;
    float: right;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    margin-right: 10px;
    border: none;
}

.no, .cookie_cancel{
    background: #e6090c;
}

#region #add .select_wraper select{
    display: block;
}

.geo,
.geo_form {
    display: none;
}
.geo_form {
    width: 320px;
    height: 150px;
}
.geo_form input[type=text] {
    width: 290px;
}

.geo.visible,
.geo_form.visible{
    display: block;
}
.geo_form fieldset {
    margin-bottom: 0;
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.menu{
    font-size: 18px;
    color: #fff;
    margin-top: 5px;
    text-align: center;
}

.menu ul{
    display: inline-block;
}

.menu li{
    float: left;
    margin-left: 20px;
}

.menu li:first-child{
    margin-left: 0;
}

.menu li a{
    color: #fff;
    text-decoration: none;
}

.menu li a:hover{
    color: #111;
}

.menu li a i{
    margin-right: 5px;
}

.event_photo{
    float: left;
    margin-right: 20px;
}

.event_photo img{
    max-width: 100%;
}

.event_filter_form{
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    margin-top: 8px;
    width: 100%;
    padding-right: 10px;
    /*margin-left: 35px;*/
}

.event_filter_form .form-group{
    float: left;
    margin-left: 20px;
    margin-top: 7px;
}

.add_event_form .form-group {
    margin-bottom: 15px;
}

.add_event_form .control-label {
    font: 400 12px Open Sans, Arial;
    display: inline-block;
    vertical-align: top;
    width: 100px;
    color: #9E9B9B;
}

.add_event_form .select_wraper {
    display: inline-block;
    width: 225px;
    min-height: 20px;
    background: url(../images/select_right.png) no-repeat top right;
    overflow: hidden;
}

.add_event_form .select_wraper #id_category {
    width: 240px;
    height: 20px;
    line-height: 20px;
    background: transparent;
}

.add_event_form button[type=submit] {
    display: inline-block;
    font: 400 16px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 5px;
    padding: 5px 15px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    cursor: pointer;
}

.add_event_form .error{
    display: block;
    margin-left: 105px;
    color: #F00;
    font-size: 12px;
}

.event_filter_form .select_wraper {
    display: inline-block;
    width: 155px;
    min-height: 20px;
    background: url(../images/select_right.png) no-repeat top right, #fff;
    overflow: hidden;
    box-shadow: 0 0 1px #250F10;
}

.event_filter_form .select_wraper select{
    width: 180px;
    height: 20px;
    line-height: 20px;
    background: transparent;
    border: 0;
}

#id_date_start, #id_date_end{
    width: 80px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 0px;
    box-shadow: 0 0 1px #250F10;
}

.event_filter_form button[type=submit] {
    display: inline-block;
    font: 400 14px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: -2px;
    padding: 3px 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    cursor: pointer;
    margin-right: 10px;
}

.event_filter_form button[type=submit]:hover{
    background: #1EDA5A;
}

.container aside.left ul.categories > li a i{
    color: #d44032;
}

.title_for_url_img{
padding-left:14%;
margin-bottom:10px;
font-family: Open Sans, Arial;
}
.title_for_url_img_event_edit{
padding-left:31%;
margin-bottom:10px;
font-family: Open Sans, Arial;
}


.social-auth-backend {
    margin: 0px 10px 0px 0px;
    background-image: url('../social_auth/social_auth_ru.png');
    background-repeat: no-repeat;
    display: block;
    float: left;
}
.social-auth-backend > img {
    width: 32px;
    height: 32px;
}

#audio-player{
    margin-top: 15px;
}

.warning{
    font-size: 16px;
    color: rgb(213, 121, 0);
    margin-bottom: 10px;
}

.vk_form label{
    display: inline-block;
    width: 50px;
}

.vk_form p{
    margin-bottom: 10px;
}

.vk_form p input{
    border: 1px solid #ccc;
    height: 20px;
    box-shadow: 0 0 3px #250F10;
}

.vk_form button[type=submit] {
    display: inline-block;
    font: 400 14px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: -2px;
    padding: 3px 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    cursor: pointer;
    margin-top: 10px;
}

.map_control{
    margin-top: 15px;
}

.add_event_form .map_control .control-label{
    width: 100%;
}

#comments{
    margin-top: 25px;
}

#comments header{
    margin-bottom: 15px;
}

.event_comment_form button{
    cursor: pointer;
    display: inline-block;
    width: auto;
    background: #2CBD63;
    padding: 5px 20px;
    font: 700 16px/21px Open Sans, Arial;
    color: #fff;
    border: 0;
    box-shadow: 0 0 2px #250F10;
    margin-top: 10px;
    margin-bottom: 10px;
}

.children_user_comment{
    margin-top: 5px;
    margin-left: 40px;
    border-top: 1px solid #e3e3e3;
}

.top .buttons .no-decoretion{
    border-bottom: 0;
}

.btn{
    display: inline-block;
    font: 400 14px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    padding: 3px 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    cursor: pointer;
    margin-bottom: 10px;
}

.message {
    padding: 5px;
    border-bottom: 1px solid #F1F1F1;
    clear: both;

}
.dialog-list .message {
    cursor: pointer;
}
.dialog-list .message:hover, .message.new {
    background-color: #f3f6ff;
}
.message:first-child{
    border-top: 1px solid #f1f1f1;
}

.message .btn{
    margin-top: 5px;
}

.message_detail{
    font-size: 16px;
    margin-bottom: 15px;
}

.message_detail + p{
    margin-bottom: 10px;
}

.message_form label{
    display: inline-block;
    vertical-align: top;
    width: 110px;
    color: #9E9B9B;
}

.message_form div{
    margin-bottom: 10px;
}

.message_form div input{
    width: 200px;
}

.message_form div textarea{
    width: 202px;
    height: 70px;
}

.left{float: left;}
.rightt{float: right;}

.self_edit{
    color: #808080;
    float: right;
    font-size: 15px;
}

.info {
    min-height: 15px;
    float: right;
    font-size: 12px;
    color: #808080;
}

.info a {
    color: #808080;
}

.info span {
    /*font-size: 12px;*/
}

.item p.ad_city {
    margin-right: 110px;
    min-height: 15px;
}

.category_block.events .item{
    border-bottom: 1px solid #e3e3e3;
}

.category_block.events .item:last-child{
    border-bottom: 0;
}

.my_event{
    padding-bottom: 3px;
    border-bottom: 1px solid #e3e3e3;
    padding-top: 5px;
}

.my_event_photo{
    float: left;
    margin-right: 10px;
}

.my_event .my_event_title{
    margin-bottom: 3px;
}

.my_event p a{
    margin-top: 3px;
    margin-right: 10px;
    padding: 3px 10px;
    float: right;
}

.private_message {
    font: 400 14px Open Sans, Arial;
    color: #808080;
    float: right;
    margin-right: 10px;
}

#warning .messages input{
    height: 20px;
    width: 220px;
    border: 0;
    box-shadow: 0 0 7px #250F10;
    margin-top: 10px;
}

.fa-vk{
    color: #2B587A;
}

.topby{
    color: #d44032;
}

.chat-window .warning{
    font-size: 13px;
}

#edit-links{
    border: 0;
    box-shadow: 0 0 7px #250F10;
    padding: 4px 5px;
    margin-right: 10px;
}

.audio_del {
    color: #111;
}

.audio_del i{
    margin-left: 10px;
    font-size: 18px;
    color: #f00;
}

.audio_link{
    color: #111;
}

.audio_previews{
    padding-top: 15px;
}
.ad_desc.invent-text p {
    color: black;
}
.banner {
    margin: 0 auto;
    width: 990px;
}
.banner .item {
    width: 330px;
    height: 90px;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner .item img {
    /*max-width: 330px;*/
    max-height: 90px;
}
.container .counter {
    font-size: 12px;
}
.yad_metrica {
    bottom: -10px;
    left: 0px;
    position: absolute;
}
.pull-right {
    float: right !important;
}

.new_message {
    color: #2cbd63;
}
.time-message {
    font-size: 10px;
    margin-right: 25px;
    color: #808080;
}
.nav_button {
    text-align: right;
}
.wrap-form {
    position: relative;
}
.url-form-wrap {
    position: absolute;
    top: 460px;
}
.wrap-previw-button {
    border: none;
    margin-bottom: 30px;
}

#photo_from_url {
    margin-bottom: 10px;
}
.ui-autocomplete { position: absolute; cursor: default;z-index:999999 !important;}
.wrap_no_city {
    height: 20px;
}
    .no_city {
        display: none;
        font-size: 0.8em;
        color: red;
    }

.clear {
    clear: both;
}

.geo_filter {}
    .geo_filter option {
        width: auto !important;
    }
    .geo_filter.city {
        margin-left: 15px;
    }

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    font-size: 15px;
}

.container aside i.fa {
    color: #2CBD63;
    cursor: pointer;
    margin-right: 3px;
}
.container aside i.fa:hover {
    color: #21803c;
}

.facebook {
    background-position: 0 -104px;
}

.pos-rel {
    position: relative;
}
.avatar-wrap {
    position: absolute;
    right: 240px;
    top: 22%;
}
.delete-account {
    color: #fff !important;
}