<div class="pagination">
    {% if page_obj.has_previous %}
        <a class="prev" href="{{ get_params }}{{ page_key }}={{ page_obj.previous_page_number }}"></a>
    {% else %}
        <a class="prev"></a>
    {% endif %}

    {% if show_first %}
        <a href="{{ get_params }}{{ page_key }}=1">1</a>
        <a>...</a>
    {% endif %}

    {% for page in page_numbers %}
            {% ifequal page page_obj.number %}
                <a class="active">{{ page }}</a>
            {% else %}
                <a href="{{ get_params }}{{ page_key }}={{ page }}">{{ page }}</a>
            {% endifequal %}
    {% endfor %}

    {% if show_last %}
       <a>...</a>
        <a href="{{ get_params }}{{ page_key }}={{ page_obj.paginator.num_pages }}">
            {{ page_obj.paginator.num_pages }}
        </a>
    {% endif %}

    {% if page_obj.has_next %}
        <a class="next" href="{{ get_params }}{{ page_key }}={{ page_obj.next_page_number }}"></a>
    {% else %}
        <a class="next"></a>
    {% endif %}
</div>
