<form method="post" id="comment-form" action="{% url 'comments:comment_add' %}{% if next %}?next={{ next }}{% endif %}">
    <header>Оставьте свой комментарий</header>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="save" class="comment_add_button" value="Отправить">
</form>
