{% load comments_tags staticfiles thumbnail %}

{% get_paginator comments %}
<div class="user_comments">
{% for comment in comments %}
    <div class="user_comment">
        <div class="user_image">
        {% thumbnail comment.user.avatar "50x50" crop='center' as im %}
            <img src="{{ im.url }}" >
        {% empty %}
            <img src="{% static "images/avatar.gif" %}" class="avatar">
        {% endthumbnail %}
        </div>
        <div class="comment_info">
            <p class="us_info">{{ comment.get_name }}, {{ comment.get_date }}</p>
            <p class="comment_body">{{ comment.text }}</p>
        </div>
        <a href="#" class="quote">Цитировать</a>
        <div class="clear"></div>
    </div>
{% endfor %}
</div>
{% get_paginator comments %}
