{% extends "base.html" %}
{% load i18n staticfiles thumbnail comments_tags core_tags cache %}

{% block title %}{{ advert.title }}{% endblock %}

{% block javascript %}
    <script src="{% static 'js/jquery.wysibb.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'theme/default/wbbtheme.css' %}" type="text/css" />

    <script>
        // $(document).ready(function() {
        // var wbbOpt = {
        // buttons: "bold,italic,underline,|,img,link,|,code,quote"
        // }
        // $("#id_text").wysibb(wbbOpt);
        // });
    </script>

{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'catalog:detail' advert.category.catalog.slug %}">{{ advert.category.catalog.title }}</a>
    <a href="{% url 'catalog:category_detail' advert.category.slug %}">{{ advert.category.title }}</a>
    <a href="{% url 'catalog:category_detail' advert.category.slug %}?advtype={{ advert.type }}">{{ advert.get_type_display }}</a>
    <a href="{% url 'catalog:advert_detail' advert.pk %}">{{ advert.title }}</a>
{% endblock breadcrumbs %}

{% block content %}
<section class="container">
    <div class="content center">
        <h1>
            <span class="sell">{{ advert.get_type_display|upper }}</span>
            {{ advert.title }}
            <span class="price">{{ advert.get_price }}</span>
        </h1>
        {% ifequal advert.user_id request.user.id %}
        <p class="ad_controls">
            <a href="{% url 'catalog:advert_notactual' advert.pk %}" class="del">Не актуально</a>
            <a href="{% url 'catalog:advert_edit' advert.pk %}" class="del">Редактировать</a>
        </p>
        {% endifequal %}
        <div class="ad_main_img">
        {% with advert.advertimage_set.all as images %}

            {% for img in images %}
                {% if forloop.first %}
                    <div class="small_img">
                {% endif %}
                    {% thumbnail img.image "80x60" crop='center' as im %}
                        <a href="{{ img.image.url }}">
                            <img src="{{ im.url }}">
                        </a>
                    {% endthumbnail %}

                {% with images|length as len_images %}
                    {% if len_images < 4 %}
                        {% if forloop.counter|divisibleby:len_images %}
                            </div>
                            {% for img in images %}
                                <a
                                data-fancybox-group="gallery"
                                href="{{ img.image.url }}"
                                {% ifnotequal advert.cover_id img.id %}
                                    class="visible"
                                {% endifnotequal %}
                                >
                                    {% thumbnail img.image "480x323" as im %}
                                        <img
                                        style="margin:{{ im|margin:"480x323" }}"
                                        src="{{ im.url }}"
                                        >
                                    {% endthumbnail %}
                                </a>
                            {% endfor %}
                            <div class="small_img">
                        {% endif %}
                    {% else %}
                        {% if forloop.counter == 4 %}
                            </div>
                            {% for img in images %}
                                {% if img.image %}
                                    <a data-fancybox-group="gallery" href="{{ img.image.url }}" {% ifnotequal advert.cover_id img.id %}class="visible"{% endifnotequal %}>
                                        {% thumbnail img.image "480x323" as im %}
                                            <img
                                                    style="margin:{{ im|margin:"480x323" }}"
                                                    src="{{ im.url }}"
                                                    >
                                        {% endthumbnail %}
                                    </a>
                                {% endif %}
                            {% endfor %}
                            <div class="small_img">
                        {% endif %}
                    {% endif %}
                {% endwith %}

                {% if forloop.last %}
                    </div>
                {% endif %}
            {% empty %}
                <p>Изображения отутствуют.</p>
            {% endfor %}

        {% endwith %}
        </div>

        <h3>Описание</h3>
        <div class="ad_desc">
            <p>{{ advert.description|safe|default:"<p>Описание отсутствует.</p>" }}</p>
            <p>{{ advert.user.by_line }}</p>
        </div>

        {% if comment_form %}
            {% render_exist_comments_form form=comment_form _next=request.GET.next %}
        {% else %}
            {% render_text_comments_form advert request.user _next=request.path %}
        {% endif %}

        {% render_comments_list advert request.GET.page %}
    </div>

    <aside class="right">
        {% get_latest %}
    </aside>
</section>
{% endblock content %}
