{% extends "base.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}
    {% if advert.blank %}
        Новое обьявление
    {% elif advert.public %}
        Редактирование объявления
    {% else %}
        Редактирование черновика
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"></script>
    <script type="text/javascript" src="{% static 'js/map.js' %}"></script>
    {% comment %}
    <script type="text/javascript" src="{% static 'js/upload.js' %}"></script> 
    {% endcomment %}
    <script type='text/javascript' src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/image.js' %}"></script>

    <script>
        $(function(){
            $("#id_phone").mask("+375 (99) 9999999");
              img_upload({
                  max_img: 8,
                  max_img_text: '{% trans 'Максимальное количество изображений для обьявления - 8 шт.' %}',
                  main_img_text: '{% trans 'Сделать обложкой' %}',
                  url: '{% url 'catalog:img_url_add' pk=advert.id %}'
              });
        });
    </script>

{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if advert.blank %}
        <a href="{% url 'catalog:new' %}">Новое обьявление</a>
    {% elif advert.public %}
        <a href="{% url 'catalog:new' %}">Редактирование</a>
    {% else %}
        <a href="{% url 'cabinet:drafts' %}">Мои черновики</a>
        <a href="{% url 'catalog:new' %}">Редактирование</a>
    {% endif %}
{% endblock breadcrumbs %}


{% block content %}
<div class="content center">
  <div style="position: relative;">
    <h1>
    {% if advert.blank %}
        Новое обьявление
    {% elif advert.public %}
        Редактирование объявления
    {% else %}
        Редактирование черновика
    {% endif %}
    </h1>

<div style="position: absolute; top:270px;" >
    <form action="" method="post" enctype="multipart/form-data" id='form_url'>
        {% csrf_token %}
        <input id="id_geo_init" type="hidden" value="{{ request.location.get_lnglat }}" name="geo_init">
        <div id='photo_from_url'>
        {% trans 'Вставьте ссылку и нажмите Enter' %}
            <br><br>
            <label for="id_img_from_url">{% trans 'Фото по url' %}</label>
            <input id="id_img_from_url" maxlength="500" name="img_from_url" type="text" form="form_url" />
              
        </div>
    </form>
</div>

    <form action="." method="post" id="add" enctype="multipart/form-data">
        {% csrf_token %}
        <input id="id_geo_init" type="hidden" value="{{ request.location.get_lnglat }}" name="geo_init">
        {% for field in form.hidden_fields %}
            {{ field }}
            {{ field.errors }}
        {% endfor %}

        {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
        {% endif %}

        {% for field in form.visible_fields %}
        <fieldset>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {{ field.errors }}
        </fieldset>
            {% if field.name == 'auction' %}
                <fieldset>
                    {% for field in img_form.visible_fields %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}
                </fieldset>
        <div style=" min-height:100px;"></div>

                <div class="img_errors">
                </div>
                <div class="img_previews">
                    {% for image in images %}
                        <div class="preview {% ifequal cover_pk image.id %}active{% endifequal %}">

                            {% thumbnail image.image "75x75" crop='center' as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                            <a class="preview_del" href="{{ image.get_delete_url }}"></a>
                            <a class="cover_url" href="{{ image.get_cover_url }}">Сделать обложкой</a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
        <fieldset>
            <label>Отметьте Ваше местоположение</label>
            <div id="map"></div>
        </fieldset>

        <p>
        {% if advert.blank and not request.user.is_authenticated %}
            {% comment %}
                Неавторизованный добавляет новое
            {% endcomment %}
            <input type="submit" class="btn" value="Опубликовать" name="_public">
        {% elif advert.blank and request.user.is_authenticated %}
            {% comment %}
                Авторизованный добавляет новое
            {% endcomment %}
            <input type="submit" class="btn" value="Сохранить как черновик" name="_draft">
            <input type="submit" class="btn" value="Опубликовать" name="_public">
        {% elif advert.public %}
            {% comment %}
                Авторизованный/неавторизованный редактирует опубликованное
            {% endcomment %}
            <input type="submit" class="btn" value="Сохранить" name="_save">
        {% else %}
            {% comment %}
                Авторизованный редактирует черновик
            {% endcomment %}
            <input type="submit" class="btn" value="Сохранить" name="_draft">
            <input type="submit" class="btn" value="Опубликовать" name="_public">
        {% endif %}
        </p>
    </form>

  </div>
</div>

<aside class="right">
    {% get_latest %}
</aside>

<div class="clr"></div>
{% endblock content %}
