{% extends "cabinet.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}Объявления{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'cabinet:adverts' %}">Мои объявления</a>
{% endblock breadcrumbs %}

{% block cabinet_content %}
    <div class="content center">
        <h3>Объявления</h3>

        {% get_paginator 'adverts' %}

        <div class="tape_ads">
            {% for advert in adverts %}
                <div class="ad">
                    {% if not advert.actual %}
                        <div class="not_actual">Не актуально</div>
                    {% endif %}
                    {% thumbnail advert.get_cover_image "100x80" crop="center" as im %}
                        <img class="my_event_photo" src="{{ im.url }}" alt="{{ event.title }}">
                    {% empty %}
                        <img class="my_event_photo" src="{% static 'images/nophoto.jpg' %}" alt="{{ advert.title }}">
                    {% endthumbnail %}
                    <div class="ad_info">
                        <div class="ad_price">
                            {{ advert.price }}
                            ({{ advert.currency }})
                            <p class="comments"><span></span>22
                            </p>
                        </div>
                        <header>
                            <span class="type{{ advert.type }}">{{ advert.get_type_display }}</span>
                            <a href="{% url 'catalog:advert_detail' advert.pk %}">{{ advert.title|truncatechars:35 }}</a>
                        </header>
                        <p class="cabinet_ad_short_desc">
                            {{ advert.description|truncatechars:170|safe|striptags|default:'Описание отсутствует.' }}
                        </p>
                        <div class="nav_button">
                            <a href="{% url 'catalog:advert_delete' pk=advert.pk %}" class="btn ptomt_delete">{% trans 'Удалить' %}</a>
                            <a href="{% url 'catalog:advert_detail' pk=advert.pk %}" class="btn">{% trans 'Просмотр' %}</a>
                            {% if advert.actual %}
                                <a href="{% url 'catalog:advert_edit' advert.pk %}" class="btn">редактировать</a>
                            {% endif %}
                        </div>
                        <p class="ad_city">
                            {% if advert.region %}{{ advert.region.title_ru }}{% endif %}{% if advert.city %}, {{ advert.city.title_ru }}{% endif %}
                            <span class="when">{{ advert.changed_last|timesince|bring_space:',' }} назад</span>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            {% empty %}
                Нет ни одного объявления.
            {% endfor %}
        </div>

        {% get_paginator 'adverts' %}

    </div>
{% endblock cabinet_content %}
