{% load i18n staticfiles thumbnail cache registration_tags core_tags chat_tags widget_tweaks event_tags %}
<!DOCTYPE html>
<html>

{% block head %}
  <head>
    <meta name="google-site-verification" content="KYpDCbyd4fzGLoVGlzVkMQqNXhChXtoLa25ByZc65Zs" /> 
    <meta charset="utf-8" />
    <title>
      {% block title %}Главная{% endblock %}
    </title>

    {% block meta %}
      
      <meta name="keywords" content="" />
      <meta name="description" content="" />
           
    {% endblock %}

    <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'css/jqtransform.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.date.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.time.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.10.4.custom.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.jqtransform.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cycle2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cycle2.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tinymce.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/picker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/picker.date.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/picker.time.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ru_RU.js' %}"></script>
    <script type="text/javascript" src="http://vk.com/js/api/openapi.js?115"></script>
    <script type="text/javascript" src="http://vk.com/js/api/share.js?90" charset="windows-1251"></script>
    <script type="text/javascript" src="{% static 'zeroclickboard/jquery.zeroclipboard.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("body")
            .on("copy", ".zclip", function(e) {
              e.clipboardData.clearData();
              e.clipboardData.setData("text/plain", $('#edit-links').val());
              e.preventDefault();
              alert('ссылка скопирована');
            });
      });
      VK.init({apiId: {{ VK_API_ID }}});
    </script>
    {% chat_head %}
    {% block javascript %}{% endblock %}
    {% block extrahead %}{% endblock %}

    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
  </head>
{% endblock %}

<body>
<div class="top">
  <div class="container">
    <div class="buttons">
      {% if request.user.is_authenticated %}
        {% if request.user.is_staff %}
          <a href="{% url 'admin:index' %}">Администрирование</a>
        {% endif %}
        <a href="{% url 'cabinet:view' %}">{{ request.user.username }} - Личный кабинет</a>
        {% if request.user.count_new_message %}
          <a href="{% url 'cabinet:messages' %}" class="no-decoretion"><i class="fa fa-envelope"></i></a>
        {% endif %}
        <a href="{% url 'logout' %}">Выйти</a>
      {% else %}
        <a href="#modal" class="enter">Вход</a>
        <a href="#modal" class="reg">Регистрация</a>
      {% endif %}
    </div>
    <div class="region">
      <span>Ваш регион: </span>
      <a href="#region">{{ request.location.title_ru }} ({{ request.location.region.title_ru}})</a>
    </div>
  </div>
</div>
<header class="main_header">
  <div class="container padd-fix clearfix">
    {% logo %}
    <div class="header">

      {% comment %}
      {% block search %}
      <form method="get" action="{% url 'search' %}" class="search_form">
          <input type="text" name="query" placeholder="Недвижимость">
          <input type="submit" value="Поиск">
      </form>
      {% endblock search %}
      {% endcomment %}

      <!--  -->
      <form action="{% url 'event:list' %}{% get_params %}" method="get" class="search_form">
        <input type="text" value="{{ request.GET.query }}" name="query">
        <!-- <button type="submit" class="btn btn-primary">{% trans 'Искать' %}</button> -->
        <input type="submit" value="Поиск">
      </form>

      <a class="advertisement" href="{% url 'create' %}">Создать ивент</a>
    </div>

    <div class="menu clearfix">
      <ul>
        <li><a href="{% url 'event:list' %}"><i class="fa fa-users"></i>Ивенты</a></li>
        <li><a href="{% url 'catalog:market' %}"><i class="fa fa-shopping-cart"></i>Барахолка</a></li>
      </ul>
    </div>
  </div>
</header>
{% show_banner %}
<div class="breadcrumbs">
  {% block breadcrumbs %}
    <a href="{% url 'home' %}">Главная</a>
  {% endblock breadcrumbs %}
</div>

<section class="container">
  {% block content %}
    {% block center %}
    {% endblock center %}

    <aside class="right">
      <div class="category_block">
        <header>Чат</header>
          {% if not test_server %}
            {% chat %}
          {% endif %}
      </div>
    </aside>
  {% endblock content %}
</section>
<footer class="main_footer">
  <div class="container">
    <a class="advertisement" href="{% url 'create' %}">Создать ивент</a>
    <div class="links">
      <a href="#">Правила</a>
      <a href="#">Помощь</a>
      <a href="#">Контакты</a>
      <a href="#">Реклама</a>
    </div>
    <div class="counter base_event">
        {% metrica %}
    </div>
      <!-- Yandex.Metrika informer -->

      <div class="copyright">
          <a href="https://metrika.yandex.ru/stat/?id=28950595&amp;from=informer"
         target="_blank" rel="nofollow" class="yad_metrica"><img src="//bs.yandex.ru/informer/28950595/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                                                 style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:28950595,lang:'ru'});return false}catch(e){}"/></a>
      <!-- /Yandex.Metrika informer -->
          Copyright &copy; 2015 topclub.su
          <span class="develop">Разработан: <a href="http://topclub.by">Alex Freeman</a></span>
    </div>
    <!-- <div class="clr"></div> -->
  </div>
</footer>

{% if auth %}
  <script type="text/javascript">
    $(document).ready(function($) {
      $('.enter').click();
    });
  </script>
{% endif %}

{% if not request.user.is_authenticated %}
  <div id="modal">
    <div id="ajax_loader" class="ajax-loader"></div>
    <ul class="tabs">
      <li class="active"><a href="#login">Войти</a></li>
      <li><a href="#register">Регистрация</a></li>
      <li><a href="#reminder">Восстановление пароля</a></li>
    </ul>
    <div class="tabs_content">
      <div id="login">
        {% authentication_form as form %}
        <form id="popup-login-form" method="post"
              action="{% url 'authentication' %}{% if auth %}?next={{ auth }}{% endif %}">
          {% csrf_token %}
          <p class="success">
          </p>
          {{ form.as_p }}
            <p>
                <input type="submit" value="Войти">
                <a href="{% url 'social:begin' backend='vk-oauth2' %}" class="social-auth-backend">
                    <img title="Авторизироваться через ВКонтакте" alt="Авторизироваться через ВКонтакте" src="{% static 'social_auth/blank.png' %}"/>
                </a>
                <a href="{% url 'social:begin' backend='facebook' %}?redirect_uri=/" class="social-auth-backend facebook">
                    <img title="Авторизироваться через Facebook" alt="Авторизироваться через Facebook" src="{% static 'social_auth/blank.png' %}"/>
                </a>
                <span style="clear: both;"></span>
            </p>
        </form>
      </div>
      <div id="register">

        {% registration_form as reg_form %}
        <form id="popup-registration-form" method="post" action="{% url 'registration' %}">
          {% csrf_token %}
          <p class="success">
          </p>
          {{ reg_form.as_p }}
            <p>
                <input type="submit" value="Регистрация">
                <a href="{% url 'social:begin' backend='vk-oauth2' %}" class="social-auth-backend">
                    <img title="Авторизироваться через ВКонтакте" alt="Авторизироваться через ВКонтакте" src="{% static 'social_auth/blank.png' %}"/>
                </a>
                <a href="{% url 'social:begin' backend='facebook' %}?redirect_uri=/" class="social-auth-backend facebook">
                    <img title="Авторизироваться через Facebook" alt="Авторизироваться через Facebook" src="{% static 'social_auth/blank.png' %}"/>
                </a>
                <span style="clear: both;"></span>>
            </p>
        </form>
        <div id="pswd_info">
          <h4>{% trans "Требования к паролю" %}:</h4>
          <ul>
            <li id="letter" class="invalid">{% trans "минимум одна" %} <strong>{% trans "строчная буква" %}</strong></li>
            {# <li id="capital" class="invalid">{% trans "минимум одна" %} <strong>{% trans "заглавная буква" %}</strong></li> #}
            <li id="number" class="invalid">{% trans "минимум одна" %} <strong>{% trans "цифра" %}</strong></li>
            <li id="length" class="invalid">{% trans "длина минимум" %} <strong>{% trans "6 символов" %}</strong></li>
            <li id="mismatch" class="invalid">{% trans "пароли должны совпадать" %}</li>
          </ul>
        </div>
      </div>
      <div id="reminder">
        {% password_recovery_form as rec_form %}
        <form id="popup-reminder-form" method="post" action="{% url 'password_reset' %}">
          {% csrf_token %}
          <p class="success">
          </p>
          {{ rec_form.as_p }}
          <p>
            <input type="submit" value="Напомнить">
          </p>
        </form>
      </div>
    </div>
  </div>
{% endif %}

{% include 'confirm_delete.html' %}

<div id="warning">
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
      {% endfor %}
    </ul>
    <script type="text/javascript" src="{% static 'js/modal_messages.js' %}"></script>
  {% endif %}
  <p></p> {#   не убирать тег p #}
  <a href="#" class="modal-warning-close">ОК</a>
</div>

<div id="region">
  <p class="cookie_warnings"></p>
  <div class="geo visible">
    <p>Ваш город {{ request.location.title_ru }} ({{ request.location.region.title_ru}})?</p>
    <a href="#" class="no">Нет</a><a href="#" class="yes">Да</a>
  </div>
  {% get_geo_menu %}
</div>


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter28950595 = new Ya.Metrika({id:28950595,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28950595" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
