{% load i18n staticfiles thumbnail cache registration_tags core_tags chat_tags %}
<!DOCTYPE html>
<html>

{% block head %}
    <head>
        <meta name="google-site-verification" content="KYpDCbyd4fzGLoVGlzVkMQqNXhChXtoLa25ByZc65Zs" />
        <meta charset="utf-8" />

        <title>
            {% block title %}Главная{% endblock %}
        </title>

        {% block meta %}

            <meta name="keywords" content="" />
            <meta name="description" content="" />
        {% endblock %}

        <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static 'css/jqtransform.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.10.4.custom.css' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


        <script type="text/javascript" src="{% static 'js/jquery-1.10.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.jqtransform.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.cycle2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.cycle2.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tinymce.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.scrollTo.min.js' %}"></script>

        {% block javascript %}{% endblock %}
        {% block extrahead %}{% endblock %}

        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bbcode.js' %}"></script>
    </head>
{% endblock %}

<body>
<div class="top">
    <div class="container">
        <div class="buttons">
            {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                    <a href="{% url 'admin:index' %}">Администрирование</a>
                {% endif %}
                <a href="{% url 'cabinet:view' %}">{{ request.user.username }} - Личный кабинет</a>
                {% if request.user.count_new_message %}
                    <a href="{% url 'cabinet:messages' %}">[M]</a>
                {% endif %}
                <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
                <a href="#modal" class="enter">Вход</a>
                <a href="#modal" class="reg">Регистрация</a>
            {% endif %}
        </div>
        <div class="region">
            <span>Ваш регион: </span>
            <a href="#region">{{ request.location.title_ru }} ({{ request.location.region.title_ru }})</a>
        </div>
    </div>
</div>
<header class="main_header">
    <div class="container padd-fix clearfix">
        {% logo %}
        <div class="header">
            {% block search %}
                <form method="get" action="{% url 'search' %}" class="search_form">
                    <input type="text" name="query" placeholder="Недвижимость">
                    <input type="submit" value="Поиск">
                </form>
            {% endblock search %}
            <a class="advertisement" href="{% url 'catalog:new' %}">Подать обьявление</a>
        </div>

        <div class="menu">
            <ul>
                <li><a href="{% url 'event:list' %}"><i class="fa fa-users"></i>Ивенты</a></li>
                <li><a href="{% url 'catalog:market' %}"><i class="fa fa-shopping-cart"></i>Барахолка</a></li>
            </ul>
        </div>
    </div>
</header>
{% show_banner %}

<div class="breadcrumbs">
    {% block breadcrumbs %}
        <a href="{% url 'catalog:market' %}">Главная</a>
    {% endblock breadcrumbs %}
</div>

<section class="container">
    {% block content %}
        <aside class="left">
            <h3><i class="fa fa-plus-circle"></i> <a href="{% url 'catalog:market' %}">Всего {{ count_advert }}</a> </h3>
            <ul class="categories">
                {% get_cat_menu %}
            </ul>
        </aside>
        {% block center %}
            <script src="http://malsup.github.com/jquery.cycle2.js"></script>
            <div class="content">
                <div class="popular">
                    <header>Популярные разделы</header>
                    {% for popular in pupular_catalogs %}
                        <div class="column">
                            {% if popular.icon %}
                                <img src="{{ popular.icon.url }}" alt="{{ popular.title }}">
                            {% endif %}
                            <a href="{% url 'catalog:detail' popular.slug %}" class="catecory_name">{{ popular.title }}</a>
                        </div>
                    {% endfor %}
                </div>
                {% for catalog in catalogs %}
                    {% if catalog.adverts %}

                        <div class="category_block">
                            <header><a href="{% url 'catalog:detail' catalog.slug %}">{{ catalog.title }}</a></header>
                            <div>
                                {% for item in catalog.adverts %}
                                    {% if forloop.first or not forloop.counter|divisibleby:'2' %}
                                        <div class="column">
                                    {% endif %}
                                <div class="item">
                                    <div class="item_img">
                                        <a href="{% url 'catalog:advert_detail' item.pk %}" class="pull-left">
                                            <div class="cycle-slideshow"
                                                 data-cycle-pause-on-hover="true"
                                                 data-cycle-speed="{{ site_settings.time_slider }}"
                                                    >
                                                {% for image in item.advertimages %}
                                                    {% thumbnail image.image "80x65" crop='center' as im %}
                                                        <img src="{{ im.url }}" alt="" {% if not forloop.first %} style='display: none;'{% endif %}>
                                                    {% endthumbnail %}
                                                {% empty %}
                                                    {% if item.cover__image %}
                                                        {% thumbnail item.cover__image "80x65" crop='center' as im %}
                                                            <img src="{{ im.url }}" alt="">
                                                        {% endthumbnail %}
                                                    {% else %}
                                                        <img src="{% static "images/ad/1.jpg" %}" alt="">
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </a>
                                    </div>
                                    <div class="item_desc">
                                        <p class="desc">
                                            <a href="{% url 'catalog:advert_detail' item.pk %}">
                                                {{ item.title|truncatechars:19 }}
                                            </a>
                                        </p>
                                        <p class="price">
                                            {{ item.get_price }}
                                        </p>
                                        <p>
                                            {{ item.type|get_advert_type_display }}
                                        </p>
                                    </div>
                                    <div class="clr"></div>
                                </div>
                                {{ forloop.counter }}
                                {% if forloop.last or forloop.counter|divisibleby:'2' %}
                                    </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                    {% endif %}
                {% endfor %}

            </div>
        {% endblock center %}

        <aside class="right">
            {% get_latest %}
        </aside>
    {% endblock content %}
</section>
<footer class="main_footer">
    <div class="container">
        <a class="advertisement" href="{% url 'catalog:new' %}">Подать обьявление</a>
        <div class="links">
            <a href="#">Правила</a>
            <a href="#">Помощь</a>
            <a href="#">Контакты</a>
            <a href="#">Реклама</a>
        </div>
        <div class="counter base">
            {% metrica %}
        </div>
        <div class="copyright">
            <!-- Yandex.Metrika informer -->
            <a href="https://metrika.yandex.ru/stat/?id=28950595&amp;from=informer"
               target="_blank" rel="nofollow" class="yad_metrica"><img src="//bs.yandex.ru/informer/28950595/3_1_FFFFFFFF_EFEFEFFF_0_pageviews"
                                                                       style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:28950595,lang:'ru'});return false}catch(e){}"/></a>
            <!-- /Yandex.Metrika informer -->
            Copyright &copy; 2015 topclub.su
            <span class="develop">Разработан: <a href="#">Alex Freeman</a></span>
        </div>
        <!-- <div class="clr"></div> -->
    </div>
</footer>

{% if auth %}
    <script type="text/javascript">
        $(document).ready(function($) {
            $('.enter').click();
        });
    </script>
{% endif %}

{% if not request.user.is_authenticated %}
    <div id="modal">
        <div id="ajax_loader" class="ajax-loader"></div>
        <ul class="tabs">
            <li class="active"><a href="#login">Войти</a></li>
            <li><a href="#register">Регистрация</a></li>
            <li><a href="#reminder">Восстановление пароля</a></li>
        </ul>
        <div class="tabs_content">
            <div id="login">
                {% authentication_form as form %}
                <form id="popup-login-form" method="post"
                      action="{% url 'authentication' %}{% if auth %}?next={{ auth }}{% endif %}">
                    {% csrf_token %}
                    <p class="success">
                    </p>
                    {{ form.as_p }}
                    <p>
                        <input type="submit" value="Войти">
                        <a href="{% url 'social:begin' backend='vk-oauth2' %}" class="social-auth-backend">
                            <img title="Авторизироваться через ВКонтакте" alt="Авторизироваться через ВКонтакте" src="{% static 'social_auth/blank.png' %}"/>
                        </a>
                        <a href="{% url 'social:begin' backend='facebook' %}?redirect_uri=/" class="social-auth-backend facebook">
                            <img title="Авторизироваться через Facebook" alt="Авторизироваться через Facebook" src="{% static 'social_auth/blank.png' %}"/>
                        </a>
                        <span style="clear: both;"></span>
                    </p>
                </form>
            </div>
            <div id="register">

                {% registration_form as reg_form %}
                <form id="popup-registration-form" method="post" action="{% url 'registration' %}">
                    {% csrf_token %}
                    <p class="success">
                    </p>
                    {{ reg_form.as_p }}
                    <p>
                        <input type="submit" value="Регистрация">
                        <a href="{% url 'social:begin' backend='vk-oauth2' %}" class="social-auth-backend">
                            <img title="Авторизироваться через ВКонтакте" alt="Авторизироваться через ВКонтакте" src="{% static 'social_auth/blank.png' %}"/>
                        </a>
                        <a href="{% url 'social:begin' backend='facebook' %}" class="social-auth-backend facebook">
                            <img title="Авторизироваться через Facebook" alt="Авторизироваться через Facebook" src="{% static 'social_auth/blank.png' %}"/>
                        </a>
                        <span style="clear: both;"></span>
                    </p>
                </form>
                <div id="pswd_info">
                    <h4>{% trans "Требования к паролю" %}:</h4>
                    <ul>
                        <li id="letter" class="invalid">{% trans "минимум одна" %} <strong>{% trans "строчная буква" %}</strong></li>
                        {# <li id="capital" class="invalid">{% trans "минимум одна" %} <strong>{% trans "заглавная буква" %}</strong></li> #}
                        <li id="number" class="invalid">{% trans "минимум одна" %} <strong>{% trans "цифра" %}</strong></li>
                        <li id="length" class="invalid">{% trans "длина минимум" %} <strong>{% trans "6 символов" %}</strong></li>
                        <li id="mismatch" class="invalid">{% trans "пароли должны совпадать" %}</li>
                    </ul>
                </div>
            </div>
            <div id="reminder">
                {% password_recovery_form as rec_form %}
                <form id="popup-reminder-form" method="post" action="{% url 'password_reset' %}">
                    {% csrf_token %}
                    <p class="success">
                    </p>
                    {{ rec_form.as_p }}
                    <p>
                        <input type="submit" value="Напомнить">
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endif %}

{% include 'confirm_delete.html' %}

<div id="warning">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
        <script type="text/javascript" src="{% static 'js/modal_messages.js' %}"></script>
    {% endif %}
    <p></p> {#   не убирать тег p #}

    <a href="#" class="modal-warning-close">ОК</a>
</div>

<div id="region">
    <p class="cookie_warnings"></p>
    <div class="geo visible">
        <p>Ваш город {{ request.location.title_ru }} ({{ request.location.region.title_ru}})?</p>
        <a href="#" class="no">Нет</a><a href="#" class="yes">Да</a>
    </div>
    {% get_geo_menu %}
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter28950595 = new Ya.Metrika({id:28950595,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28950595" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
