{% extends "base_events.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}Личный кабинет{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'cabinet:view' %}">Личный кабинет</a>
{% endblock breadcrumbs %}

{% block content %}
    {% block cabinet_content %}
    <div class="content center">
        <h1>Личный кабинет</h1>
        <div class="user_info">
            <div class="user_img">
                {% thumbnail request.user.avatar "200x200" crop='center' as im %}
                    <a href="{{ request.user.avatar.url }}"><img src="{{ im.url }}"></a>
                {% empty %}
                    <a href="{% static "images/avatar.gif" %}"><img src="{% static "images/avatar.gif" %}"></a>
                {% endthumbnail %}
            </div>
            <div class="user_inf">
                <p><span class="bold">ФИО: </span>{{ request.user.get_full_name }}</p>
                <p><span class="bold">Ник: </span>{{ request.user.username }}</p>
                <p><span class="bold">Телефон: </span>{{ request.user.phone }}</p>
                <p><span class="bold">E-mail: </span>{{ request.user.email }}</p>
                <p><span class="bold">Дата регистрации: </span>{{ request.user.date_joined|date:"j E o" }}</p>
                <p class="btn delete_m delete-account pull-right" data-url="{% url 'cabinet:delete_account' %}" >{% trans 'Удалить аккаунт' %}</p>
            </div>
        </div>
    </div>
    {% endblock cabinet_content %}

    <aside class="right">
    {% get_cabinet_menu request.user.id %}
    </aside>
{% endblock content %}
