{% extends "base.html" %}
{% load staticfiles thumbnail core_tags %}

{% block title %}
    {{ catalog.title }}
{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'catalog:detail' catalog.slug %}">{{ catalog.title }}</a>
{% endblock breadcrumbs %}

{% block center %}
<div class="content">
    {% for cat in categories %}
        {% if cat.adverts %}
            <div class="category_block">
                <header><a href="{% url 'catalog:category_detail' cat.slug %}">{{ cat.title }}</a></header>
                <div>
                {% for item in cat.adverts %}
                    {% if forloop.first or not forloop.counter|divisibleby:'2' %}
                        <div class="column">
                    {% endif %}
                    <div class="item">
                        <div class="item_img">
                            <a href="{% url 'catalog:advert_detail' advert.pk %}" class="pull-left">
                                <div class="cycle-slideshow"
                                     data-cycle-pause-on-hover="true"
                                     data-cycle-speed="{{ site_settings.time_slider }}"
                                        >
                                    {% for image in advert.advertimage_set.all %}
                                        {#                    {{ event.self.eventimage_set. }}#}
                                        {% thumbnail image.image "80x65" crop='center' as im %}
                                            <img src="{{ im.url }}" alt="" {% if forloop.counter != 1 %} style='display: none;'{% endif %}>
                                        {% endthumbnail %}
                                    {% empty %}
                                        <img src="{% static "images/ad/1.jpg" %}" alt="">
                                    {% endfor %}
                                </div>
                            </a>
                        </div>
                        <div class="item_desc">
                            <p class="desc">
                                <a href="{% url 'catalog:advert_detail' item.pk %}">
                                    {{ item.title|truncatechars:19 }}
                                </a>
                            </p>
                            <p class="price">
                                {{ item.get_price }}
                            </p>
                            <p>{{ item.type|get_advert_type_display }}</p>
                        </div>
                        <div class="clr"></div>
                    </div>
                    {{ forloop.counter }}
                    {% if forloop.last or forloop.counter|divisibleby:'2' %}
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock center %}
