{% extends "base.html" %}
{% load staticfiles thumbnail core_tags %}
{% load widget_tweaks %}

{% block title %}
    {% if catalog %}
        {{ catalog.title }}
    {% else %}
        {{ category.title }}
    {% endif %}
{% endblock title %}


{% block breadcrumbs %}
    {{ block.super }}
    {% if catalog %}
        <a href="{% url 'catalog:detail' catalog.slug %}">{{ catalog.title }}</a>
    {% else %}
        <a href="{% url 'catalog:detail' category.catalog.slug %}">{{ category.catalog.title }}</a>
        <a href="{% url 'catalog:category_detail' category.slug %}">{{ category.title }}</a>
    {% endif %}
{% endblock breadcrumbs %}

{% block center %}
    <div class="content">
        <div class="category_block">
            <header><a href="#">Фильтр</a></header>
            <div class="filter">
                <form method="get" action=".">
                    {% for field in form.hidden_fields %}
                        {{ field }}
                        {{ field.errors }}
                    {% endfor %}

                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}

                    <fieldset>
                        <label for="{{ form.advtype.id_for_label }}">{{ form.advtype.label }}</label>
                        {{ form.advtype }}
                        {{ form.advtype.errors }}
                    </fieldset>
                    <fieldset>
                        <div>
                            <label for="{{ form.price_min.id_for_label }}">{{ form.price_min.label }}</label>
                            <input
                                    id="id_price_min"
                                    type="number"
                                    data-min="{{ price_delta.min }}"
                                    name="price_min"
                                    {% if form.price_min.value %}
                                    value="{{ form.price_min.value }}"
                                    {% endif %}
                                    >
                            {{ form.price_min.errors }}
                            <label for="{{ form.price_max.id_for_label }}">{{ form.price_max.label }}</label>
                            <input
                                    id="id_price_max"
                                    type="number"
                                    data-max="{{ price_delta.max }}"
                                    name="price_max"
                                    {% if form.price_max.value %}
                                    value="{{ form.price_max.value }}"
                                    {% endif %}
                                    >
                            {{ form.price_max.errors }}
                        </div>
                        <div id="slider-range"></div>
                    </fieldset>
                    <fieldset>
                        {% render_field form.region class='geo_filter' %}
                        {% render_field form.city class='geo_filter city' %}
                    </fieldset>
                    <fieldset>
                        <label for="{{ form.keywords.id_for_label }}">{{ form.keywords.label }}</label>
                        {{ form.keywords }}
                        {{ form.keywords.errors }}
                    </fieldset>

                    <input type="submit" value="Фильтровать">
                </form>
            </div>
        </div>

        <h3>Лента</h3>

        {% get_paginator 'adverts' %}

        <div class="tape_ads">
            <script src="http://malsup.github.com/jquery.cycle2.js"></script>{# если встявлять в другое место почемуто не работает #}
            {% for advert in adverts %}
                <div class="ad">
                    {% if not advert.actual %}
                        <div class="not_actual">Не актуально</div>
                    {% endif %}
                    <a href="{% url 'catalog:advert_detail' advert.pk %}" class="pull-left">
                        <div class="cycle-slideshow"
                             data-cycle-pause-on-hover="true"
                             data-cycle-speed="{{ site_settings.time_slider }}"
                                >
                            {% for image in advert.advertimage_set.all %}
                                {#                    {{ event.self.eventimage_set. }}#}
                                {% thumbnail image.image "100x80" crop='center' as im %}
                                    <img src="{{ im.url }}" alt="" {% if forloop.counter != 1 %} style='display: none;'{% endif %}>
                                {% endthumbnail %}
                            {% empty %}
                                {% if advert.get_cover_image %}
                                    <img src="{{ advert.get_cover_image.url }}" width="100" height="80" alt="">
                                {% else %}
                                    <img src="{% static 'images/nophoto.jpg' %}" width="100" height="80" alt="">
                                {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                    <div class="ad_info">
                        <div class="ad_price">{{ advert.get_price }}
                            <p class="comments"><span></span>{{ advert.comments_count }}</p>
                        </div>
                        <header>
                            <span class="type{{ advert.type }}">{{ advert.get_type_display }}</span>
                            <a href="{% url 'catalog:advert_detail' advert.pk %}">{{ advert.title|truncatechars:35 }}</a>
                        </header>
                        <p class="ad_short_desc">{{ advert.description|truncatechars:100|safe|striptags|default:'Описание отсутствует.' }}</p>
                        <p class="ad_city">
                            {% if advert.region %}{{ advert.region.title_ru }}{% endif %}{% if advert.city %}, {{ advert.city.title_ru }}{% endif %}
                            <span class="when">{{ advert.changed_last|timesince|bring_space:',' }} назад</span>
                        </p>
                    </div>
                    <div class="clear"></div>
                </div>
            {% empty %}
                <span class="none">Нет ни одного объявления.</span>
            {% endfor %}
        </div>

        {% get_paginator 'adverts' %}

    </div>

{% endblock center %}
