<div id="warning2" style="display: none;">
    <ul class="messages">
        <li class="success">Вы уверены?</li>
    </ul>
    <a href="#" class="modal-warning-close">Нет</a>
    <a href="#" class="modal-warning-conf">Да</a>
</div>