{% extends "cabinet.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}Черновики{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'cabinet:drafts' %}">Черновики</a>
{% endblock breadcrumbs %}

{% block cabinet_content %}
<div class="content center">
    <h3>Черновики</h3>

    {% get_paginator 'adverts' %}

    <div class="tape_ads">
    {% for advert in adverts %}
        <div class="ad">
            {% thumbnail advert.cover.image "100x80" crop='center' as im %}
                <img src="{{ im.url }}">
            {% empty %}
                <img src="{% static "images/nophoto.jpg" %}">
            {% endthumbnail %}
            <div class="ad_info">
                <div class="ad_price">
                    {% if advert.price %}
                        {{ advert.price }}
                    {% endif %}
                    {% if advert.currency %}
                        ({{ advert.currency }})
                    {% endif %}
                    <p class="control">
                        <a href="{% url 'cabinet:draft_delete' advert.pk %}"  class="del">удалить</a>
                        <br>
                        <a href="{% url 'cabinet:draft_edit' advert.pk %}" class="del">редактировать</a>
                    </p>
                </div>
                <header>
                        <span class="type{{ advert.type }}">
                        {% if advert.type %}
                            {{ advert.get_type_display }}
                        {% else %}
                            -
                        {% endif %}
                        </span>
                    <a href="{% url 'cabinet:draft_edit' advert.pk %}">
                        {% if advert.title %}
                            {{ advert.title|truncatechars:35 }}
                        {% else %}
                            {% trans "<Заголовок отсутствует>" %}
                        {% endif %}
                    </a>
                </header>
                <p class="cabinet_ad_short_desc">
                    {{ advert.description|striptags|truncatechars:170|safe|default:'Описание отсутствует.' }}
                </p>
                <p class="ad_city">
                    {% if advert.region %}{{ advert.region.title_ru }}{% endif %}{% if advert.city %}, {{ advert.city.title_ru }}{% endif %}
                    <span class="when">{{ advert.changed_last|timesince|bring_space:',' }} назад</span>
                </p>
            </div>
            <div class="clear"></div>
        </div>
    {% empty %}
        Нет ни одного черновика.
    {% endfor %}
    </div>

    {% get_paginator 'adverts' %}

</div>
{% endblock cabinet_content %}
