<div class="wrap-logo">
    {% if logo %}
        <a href="{{ logo.url }}" class="logo image-logo" target="{{ logo.target }}" style="background-image: url('{{ logo.logo.url }}')"></a>
    {% else %}
        <a href="/" class="logo">TopClub</a>
    {% endif %}
</div>