{% extends "cabinet.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}{% trans 'Сообщения' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'cabinet:messages' %}">{% trans 'Сообщения' %}</a>
{% endblock breadcrumbs %}

{% block cabinet_content %}
    <div class="content center pos-rel">
        <h3>{% trans 'Написать сообщение:' %}</h3>
        <form action="" method="post" class="message_form">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {% if form.errors %}
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                </div>
                <div>
                    <label>{{ field.label }}:</label>
                    {{ field }}
                </div>
            {% endfor %}
            <div class="avatar-wrap">
                {% thumbnail recipient.avatar "150" crop='center' as im %}
                    <img src="{{ im.url }}" alt="">
{#                {% empty %}#}
{#                    <img width="200" src="{% static "images/nophoto.jpg" %}">#}
                {% endthumbnail %}
            </div>
            <button type="submit" class="btn">{% trans 'отправить' %}</button>
        </form>
    </div>
{% endblock cabinet_content %}
