{% extends "cabinet.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}{% trans 'Сообщения' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'cabinet:messages' %}">{% trans 'Сообщения' %}</a>
{% endblock breadcrumbs %}

{% block cabinet_content %}
    <div class="content center">
        <div class="clearfix">
            <h3 class="left">{% firstof user2.get_full_name user2.get_short_name %}</h3>
            <a href="{% url 'cabinet:message_new' %}?to={{ user2.username }}" class="btn rightt new_mess">{% trans 'Написать сообщение' %}</a>
        </div>
        <form style='display: none' action="{% url 'cabinet:message_new' %}" method="post" class="message_form">
            {% csrf_token %}
            {% for field in form %}
                <div>
                    {% if field.error %}
                        {% for error in errors %}
                            {{ error }}
                        {% endfor %}
                    {% endif %}
                    <label>{{ field.label }}:</label>
                    {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="btn">{% trans 'отправить' %}</button>
        </form>
        {% get_paginator 'page_obj' %}
        <div class="message_list dialog">
            {% for message in messages_list %}
                <div class="message {% if message.id in is_new_list %}new{% endif %}">
                    <div class="item_img">
                        {% thumbnail message.sender.avatar "80x65" crop='center' as im %}
                            <img src="{{ im.url }}" alt="">
                        {% empty %}
                            <img width="80" height="65" src="{% static "images/nophoto.jpg" %}">
                        {% endthumbnail %}
                        <div class="pull-right">
                            <p>{% firstof message.sender.username %}</p>
                            <p class="time-message">{{ message.sent_at|date:'d M Y в H:i' }}</p>
                            <p class="btn delete_m ptomt_delete" data-url="{% url 'cabinet:message_delete' message.pk %}">{% trans 'Удалить' %}</p>
                        </div>
                    </div>
                    <div class="item_desc">
                        <p class="desc">
                            Тема: {{ message.subject }}
                        </p>
                        <p>{{ message.body }}</p>
                        <br/><br/>
                    </div>
                </div>
            {% empty %}
                {% trans 'нет ни одного сообщения' %}
            {% endfor %}
        </div>
        {% get_paginator 'page_obj' %}
    </div>

    <script>
        $(function () {
            {% if form.errors %}
                $('.message_form').show();
            {% else %}
                $('.new_mess').click(function (e) {
                    e.preventDefault();
                    $('.message_form').slideToggle();
                });
            {% endif %}
        })
    </script>

{% endblock cabinet_content %}
