
<ul>
    <li>
        <span>Всего {{ type }}:</span>
        <span>{{ all_time }}</span>
    </li>
    <li>
        <span>{{ type }} за год:</span>
        <span>{{ year }}</span>
    </li>
    <li>
        <span>{{ type }} за месяц:</span>
        <span>{{ month }}</span>
    </li>
    <li>
        <span>{{ type }} за неделю:</span>
        <span>{{ week }}</span>
    </li>
        <li>
        <span>{{ type }} за день:</span>
        <span>{{ day }}</span>
    </li>
    <li>
        <span>Зарегистрированых пользователей:</span>
        <span>{{ users }}</span>
    </li>
</ul>