{% extends "cabinet.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}{% trans 'Ивенты' %}{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <a href="{% url 'cabinet:events' %}">{% trans 'Ивенты' %}</a>
{% endblock breadcrumbs %}

{% block cabinet_content %}
  <div class="content center">
    <h3>{% trans 'Ивенты' %}</h3>

    {% get_paginator 'events' %}

    <div class="events_list">
      {% for event in events %}
        <div class="my_event clearfix">
            {% thumbnail event.get_cover_image "70x70" crop="center" as im %}
              <img class="my_event_photo" src="{{ im.url }}" alt="{{ event.title }}">
            {% empty %}
                <img class="my_event_photo" style="height: 70px; width: 70px;" src="{% static 'images/nophoto.jpg' %}" alt="{{ event.title }}">
            {% endthumbnail %}
          <p class="my_event_title"><b>{{ event.title }}</b></p>
          <span><i>{{ event.datetime }}</i></span>
          <p>
            <a href="{% url 'event:delete' pk=event.pk %}" class="btn ptomt_delete">{% trans 'Удалить' %}</a>
            <a href="{% url 'event:detail' pk=event.pk %}" class="btn">{% trans 'Просмотр' %}</a>
            <a href="{% url 'event:edit' pk=event.pk %}" class="btn">{% trans 'Редактировать' %}</a>
          </p>
        </div>

      {% empty %}
        {% trans 'нет не одного ивента' %}
      {% endfor %}
    </div>


    {% get_paginator 'events' %}

  </div>
{% endblock cabinet_content %}
