{% extends "cabinet.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}{% trans 'Сообщения' %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'cabinet:messages' %}">{% trans 'Сообщения' %}</a>
{% endblock breadcrumbs %}

{% block cabinet_content %}
    <div class="content center">
        <div class="clearfix">
            <h3 class="left">{% trans 'Диалоги' %}</h3>
            <a href="{% url 'cabinet:message_new' %}" class="btn rightt">{% trans 'Написать сообщение' %}</a>
        </div>
            {% get_paginator 'page_obj' %}
        <div class="message_list dialog-list">
            {% for message in messages_list %}
                <a href="{% url 'cabinet:dialog' message.user.username %}">
                    <div class="message {% if message.is_new %}new{% endif %}">
                        <div class="item_img">
                            {% thumbnail message.user.avatar "80x65" crop='center' as im %}
                                <img src="{{ im.url }}" alt="">
                            {% empty %}
                                <img width="80" height="65" src="{% static "images/nophoto.jpg" %}">
                            {% endthumbnail %}
                            <div class="pull-right">
                                <p>{{ message.user.username }}</p>
                                <p class="time-message">{{ message.last_message.sent_at|date:'d M Y в H:i' }}</p>
                                <p class="btn delete_m ptomt_delete" data-url="{% url 'cabinet:dialog_delete' message.user.username %}">{% trans 'Удалить' %}</p>
                            </div>
                        </div>
                        <div class="item_desc">
                            <p class="desc">
                                Тема: {{ message.last_message.subject }}
                            </p>
                            <p>{{ message.last_message.body|truncatechars:100 }}</p>
                            <br/><br/>
                        </div>
                    </div>
                </a>
            {% empty %}
                {% trans 'нет ни одного сообщения' %}
            {% endfor %}
        </div>
            {% get_paginator 'page_obj' %}
    </div>
{% endblock cabinet_content %}
