{% extends "cabinet.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}Комментарии{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'cabinet:drafts' %}">Комментарии</a>
{% endblock breadcrumbs %}

{% block cabinet_content %}
<div class="content center">
    <h3>Комментарии</h3>

    {% get_paginator 'comments' %}

    <div class="tape_ads">
        <div class="user_comments">
        {% for comment in comments %}
            <div class="user_comment">
                <div class="user_image">
                {% thumbnail comment.user.avatar "50x50" crop='center' as im %}
                    <img src="{{ im.url }}">
                {% empty %}
                    <img src="{% static 'images/avatar.gif' %}" class="avatar">
                {% endthumbnail %}
                </div>
                <div class="comment_info">
                    <p class="us_info">{{ comment.get_name }}, {{ comment.created }}</p>
                    <p>{{ comment.text }}</p>
                </div>
                <a href="{% url 'comments:comment_delete' pk=comment.pk %}" class="btn ptomt_delete to_comment">{% trans 'Удалить' %}</a>
                <a class="to_comment" href="{{ comment.related_object.get_absolute_url }}">{{ comment.related_object }}</a>
                <div class="clear"></div>
            </div>
        {% empty %}
            <p class="none">Нет ни одного комментария.</p>
        {% endfor %}
        </div>
    </div>

    {% get_paginator 'comments' %}

</div>
{% endblock cabinet_content %}
