{% extends "cabinet.html" %}
{% load i18n staticfiles thumbnail cache registration_tags core_tags %}

{% block title %}Личный кабинет{% endblock %}

{% block javascript %}
    <script type='text/javascript' src="{% static 'js/jquery.maskedinput.min.js' %}"></script>
    <script type="text/javascript">
        jQuery(function($){
           $("#id_phone").mask("+375 (99) 9999999");
        });
    </script>
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'cabinet:edit' %}">Редактирование профиля</a>
{% endblock breadcrumbs %}

{% block cabinet_content %}
<div class="content center">
    <h1>Редактирование профиля</h1>
    <form method="post" action="." id="edit_profile" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
            {{ field.errors }}
        {% endfor %}
        {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
        {% endif %}
        <div class="column">
            <p>
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                {{ form.username }}
                {{ form.username.errors }}
            </p>
            <p>
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                {{ form.email }}
                {{ form.email.errors }}
            </p>
            <p>
                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}
            </p>
            <p>
                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}
            </p>
            <p>
                <label for="{{ form.phone.id_for_label }}">{{ form.phone.label }}</label>
                {{ form.phone }}
                {{ form.phone.errors }}
            </p>
            <p>
                <label for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </p>
            <p>
                <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </p>
            <p>
                <label for="{{ form.password3.id_for_label }}">{{ form.password3.label }}</label>
                {{ form.password3 }}
                {{ form.password3.errors }}
            </p>
        </div>

        <div class="column">
            <p>
                <label for="{{ form.avatar.id_for_label }}">{{ form.avatar.label }}</label>
                {{ form.avatar }}
                {{ form.avatar.errors }}
            </p>
            <div class="clr"></div>
            <p style="margin-top: 15px;">
                <label for="{{ form.by_line.id_for_label }}">{{ form.by_line.label }}</label>
                {{ form.by_line }}
                {{ form.by_line.errors }}
            </p>
        </div>

        <input type="submit" class="btn" value="Сохранить" name="save">
    </form>
    {% comment %}
    <div id="pswd_info">
        <h4>{% trans "Требования к паролю" %}:</h4>
        <ul>
            <li id="letter" class="invalid">{% trans "минимум одна" %} <strong>{% trans "строчная буква" %}</strong></li>
            {# <li id="capital" class="invalid">{% trans "минимум одна" %} <strong>{% trans "заглавная буква" %}</strong></li> #}
            <li id="number" class="invalid">{% trans "минимум одна" %} <strong>{% trans "цифра" %}</strong></li>
            <li id="length" class="invalid">{% trans "длина минимум" %} <strong>{% trans "6 символов" %}</strong></li>
            <li id="mismatch" class="invalid">{% trans "пароли должны совпадать" %}</li>
        </ul>
    </div>
    {% endcomment %}
    <div class="user_info">
    </div>
</div>
{% endblock cabinet_content %}
