{% extends "base_events.html" %}
{% load i18n static %}
{% block content %}
  <div class="content center">
    <p class="warning">Для завершения входа. Вам необходимо указать логин и e-mail.</p>
    <form id="social-form" action="{% if is_valid %}{% url "social:complete" backend=backend %}{% endif %}" method="post" role="form" class="vk_form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Сохранить</button>
    </form>
  {% if is_valid %}
    <script type="text/javascript">
      $('#social-form').submit();
    </script>
  {% endif %}
  </div>
{% endblock %}