{% extends "base.html" %}
{% load staticfiles thumbnail core_tags %}

{% block title %}
    Поиск
{% endblock title %}

{% block search %}
<form method="get" action="{% url 'search' %}" class="search_form">
    <input type="text" name="query" placeholder="Недвижимость" value="{{ form.query.value }}">
    <input type="submit" value="Поиск">
</form>
{% endblock search %}

{% block breadcrumbs %}
    {{ block.super }}
    <a href="{% url 'search' %}">Поиск</a>
{% endblock breadcrumbs %}

{% block center %}
<div class="content">

    <h3>Результаты</h3>

    {% get_paginator 'results' %}

    <div class="tape_ads">
    {% for obj in results %}
        <div class="ad">
            {% if not obj.instance.actual %}
                <div class="not_actual">Не актуально</div>
            {% endif %}
            {% thumbnail obj.instance.cover.image "100x80" crop='center' as im %}
                <img src="{{ im.url }}">
            {% empty %}
                <img src="{% static "images/nophoto.jpg" %}">
            {% endthumbnail %}
            <div class="ad_info">
                <div class="ad_price">{{ obj.instance.price }}({{ obj.instance.currency }})
                    <p class="comments"><span></span>{{ obj.instance.comments_count }}</p>
                </div>
                <header>
                    <span class="type{{ obj.instance.type }}">{{ obj.instance.get_type_display }}</span>
                    <a href="{% url 'catalog:advert_detail' obj.instance.pk %}">{{ obj.instance.title|truncatechars:35 }}</a>
                </header>
                <p class="ad_short_desc">{{ obj.instance.description|truncatechars:100|safe|striptags|default:'Описание отсутствует.' }}</p>
                <p class="ad_city">
                    {% if obj.instance.region %}{{ obj.instance.region.title_ru }}{% endif %}{% if obj.instance.city %}, {{ obj.instance.city.title_ru }}{% endif %}
                    <span class="when">{{ obj.instance.changed_last|timesince|bring_space:',' }} назад</span>
                </p>
            </div>
            <div class="clear"></div>
        </div>
    {% empty %}
        <span class="none">Нет ни одного объявления.</span>
    {% endfor %}
    </div>

    {% get_paginator 'results' %}

</div>

{% endblock center %}
