{% extends "news_base.html" %}
{% load i18n thumbnail staticfiles mtags %}

{% block title %}{{ user.username|default:"нет данных" }} - Профиль{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}



{% block content_super %}
        <div class="row">
            <div class="col-xs-8">
            {% block content %}
                    <h3>Просмотр пользователя {{ user.get_full_name }}</h3>
                    {% thumbnail user.avatar "160x160" crop='center' as im %}
                        <img src="{{ im.url }}" alt="ava" class="user_photo">
                    {% empty %}
                        <img class="user_photo" src="{% static 'img/ava/default.jpg' %}">
                    {% endthumbnail %}
                    <div class="user_info">
                        <p>
                        <span class="bold">Никнейм: </span>{{ user.username|default:"нет данных" }}</p>
                        <p>
                        <span class="bold">Имя: </span>{{ user.first_name|default:"нет данных" }}</p>
                        <p>
                        <span class="bold">Фамилия: </span>{{ user.last_name|default:"нет данных" }}</p>
                        <p>
                        <span class="bold">день рождения: </span>{{ user.birthday|date:"j E o"|default:"нет данных" }}</p>
                        <p>
                        <span class="bold">пол: </span>{{ user.get_gender_display|default:"нет данных" }}</p>
                        <p>
                        <span class="bold">страна: </span>{{ user.country|default:"нет данных" }}</p>
                        <p>
                        <span class="bold">город: </span>{{ user.city|default:"нет данных" }}</p>
                        <p>
                        <span class="bold">команда: </span>{{ user.command|default:"нет данных" }}</p>
                        <p class="marg">
                        <span class="bold">дата регистрации: </span>{{ user.date_joined|date:"j.n.o i:H"|default:"нет данных" }}</p>
                        <p>
                        <span class="bold">последний раз был: </span>{{ user.last_login|timesince|bring_space:','|default:"нет данных" }} назад</p>
                    </div>
                    <div class="clear"></div>
                    <ul class="nav nav-tabs m">
                        <li class="active">
                            <a href=".info_user_news" data-toggle="tab">Новости пользователя</a>
                        </li>
                        <li>
                            <a href=".info_user_videos" data-toggle="tab">Видео пользователя</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        {% get_news %}
                        {% get_videos %}
                    </div>
            {% endblock %}
            </div>
            <div class="col-xs-4">
                {% block right %}
                    {% show_last_news %}

                    {% block popular-banner-upper %}
                        {% show_banner_right_upper %}
                        {% show_videos %}
                    {% endblock %}

                    {% block popular-banner-lower %}
                        {% show_popular_news %}
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Рассылка новых публикаций</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-inline" role="form">
                                    <div class="form-group">
                                        <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="e-mail">
                                    </div>
                                    <button type="submit" class="btn btn-success">Подписаться</button>
                                </form>
                            </div>
                        </div>
                        {% show_day_video %}
                        {% show_banner_right_lower %}
                    {% endblock %}
                {% endblock %}

                {% block jubmotron %}
                {% endblock %}
            </div>
        </div>

{% endblock %}