{% extends "profile_view.html" %}
{% load i18n thumbnail static mtags %}

{% block title %}{{ request.user.username|default:"нет данных" }} - Профиль{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/cabinet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/view.js' %}"></script>
    {{ news_form.media }}
{% endblock %}

{% block content %}
        <h3>Личный кабинет</h3>
        {% thumbnail request.user.avatar "160x160" crop='center' as im %}
            <img src="{{ im.url }}" alt="ava" class="user_photo">
        {% empty %}
            <img class="user_photo" src="{% static 'img/ava/default.jpg' %}">
        {% endthumbnail %}
        <div class="user_info">
            <p>
            <span class="bold">Никнейм: </span>{{ request.user.username|default:"нет данных" }}</p>
            <p>
            <span class="bold">Имя: </span>{{ request.user.first_name|default:"нет данных" }}</p>
            <p>
            <span class="bold">Фамилия: </span>{{ request.user.last_name|default:"нет данных" }}</p>
            <p>
            <span class="bold">день рождения: </span>{{ request.user.birthday|date:"j E o"|default:"нет данных" }}</p>
            <p>
            <span class="bold">пол: </span>{{ request.user.get_gender_display|default:"нет данных" }}</p>
            <p>
            <span class="bold">страна: </span>{{ request.user.country|default:"нет данных" }}</p>
            <p>
            <span class="bold">город: </span>{{ request.user.city|default:"нет данных" }}</p>
            <p>
            <span class="bold">команда: </span>{{ request.user.command|default:"нет данных" }}</p>
            <p class="marg">
            <span class="bold">дата регистрации: </span>{{ request.user.date_joined|date:"j.n.o i:H"|default:"нет данных" }}</p>
            <p>
            <span class="bold">последний раз был: </span>{{ request.user.last_login|timesince|bring_space:','|default:"нет данных" }} назад</p>
        </div>
        <div class="clear"></div>
        <div class="buttons">
            <a href=".edit_profile" class="btn btn-success edit_prof">Редактировать профиль</a>
            <a href=".add_news" class="btn btn-success add_n">Добавить новость</a>
            <a href=".add_videos" class="btn btn-success add_v">Добавить видео</a>
        </div>

        <div class="add_news visible" {% if form_type == 'news' %}style="display:block;"{% endif %}>
            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
                {% if news_form.non_field_errors %}
                    {{ news_form.non_field_errors }}
                {% endif %}
                {% for field in news_form %}
                    {% if field.name == 'content' %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label class="col-xs-12 control-label center">{{ field.label_tag }}</label>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ field }}
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label class="col-xs-4 control-label">{{ field.label_tag }}</label>
                            <div class="col-xs-8">
                                {{ field }}
                                <label class="smm">{{ field.help_text }}</label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="form-group">
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-success news_view">Посмотреть</button>
                    </div>
                    <div class="col-xs-offset-5 col-xs-4">
                        <button type="submit" type="submit" name="news_add" class="btn btn-success">Отправить на модерацию</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="add_videos visible" {% if form_type == 'video' %}style="display:block;"{% endif %}>
            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
                {% if video_form.non_field_errors %}
                    {{ video_form.non_field_errors }}
                {% endif %}
                {% for field in video_form %}
                    {% if field.name == 'description' %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label class="col-xs-12 control-label center">{{ field.label_tag }}</label>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                {{ field }}
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            {{ field.errors }}
                            <label class="col-xs-4 control-label">{{ field.label_tag }}</label>
                            <div class="col-xs-8">
                                {{ field }}
                                <label class="smm">{{ field.help_text }}</label>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-xs-3">
                        <button type="button" class="btn btn-success video_view">Посмотреть</button>
                    </div>
                    <div class="col-xs-offset-5 col-xs-4">
                        <button type="submit" type="submit" name="video_add" class="btn btn-success">Отправить на модерацию</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="edit_profile visible" {% if form_type == 'profile' %}style="display:block;"{% endif %}>
            <form class="form-horizontal" enctype="multipart/form-data" method="post" action="">{% csrf_token %}
                {% if profile_form.non_field_errors %}
                    {{ profile_form.non_field_errors }}
                {% endif %}
                {% for field in profile_form %}
                <div class="form-group">
                    {{ field.errors }}
                    <label  class="col-xs-4 control-label">{{ field.label_tag }}</label>
                    <div class="col-xs-8">
                        {{ field }}
                        <label class="smm">{{ field.help_text }}</label>
                    </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-xs-3">
                    <button type="submit" name="save" class="btn btn-success">Сохранить</button>
                    </div>
                    <div class="col-xs-offset-6 col-xs-3">
                    </div>
                </div>

            </form>
        </div>
        <div class="clear"></div>
        <ul class="nav nav-tabs m">
            <li class="active">
                <a href=".info_user_news" data-toggle="tab">Мои новости</a>
            </li>
            <li>
                <a href=".info_user_videos" data-toggle="tab">Мои видео</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {% get_news %}
            {% get_videos %}
        </div>


{% endblock %}
