@font-face{
    font-family: Arial;
    src: url(../fonts/ARIAL.TTF);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Open Sans, Arial;
}

.main_header{
    height: 100px;
    /* background: url(../images/header.jpg) no-repeat top center; */
    background: #d44032;
}

.container{
    width: 990px;
    margin: 0 auto;
    font-size: 0;
    padding: 10px 0;
}

.main_header .container{
    padding-top: 0;
}

.top{
    height: 29px;
    background: #F1F1F1;
}

.top .container{
    padding-top: 0;
}

.top span{
    font: 400 13px/23px Open Sans, Arial;
    color: #d44032;
}

.top .region a{
    font: 400 13px/23px Open Sans, Arial;
    color: #d44032;
    text-decoration: none;
    border-bottom: 1px dashed #d44032;
}

.top .buttons{
    float: right;
}

.top .buttons a{
    font: 400 13px/23px Open Sans, Arial;
    color: #d44032;
    text-decoration: none;
    margin: 0 5px;
    border-bottom: 1px dashed #d44032;
}

.top .buttons a span{
    font-size: 15px;
}

.main_header .header .logo{
    display: inline-block;
    font: 400 50px 'Nova Square', cursive;
    /* color: #e6090c; */
    color: #fff;
    text-decoration: none;
    margin-top: 15px;
}

.main_header .header .advertisement{
    display: inline-block;
    font: 400 16px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    padding: 10px 35px;
    float: right;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
}

.main_footer .container .advertisement{
    display: inline-block;
    font: 400 16px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 35px;
    float: right;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
}

.main_header .header .advertisement:hover,
.main_footer .container .advertisement:hover{
    background: #1EDA5A;
}

.main_header .header .logo:hover{
    color: #8e0509;
}

.search_form{
    display: inline-block;
    vertical-align: top;
    margin: 30px 0 0 55px;
    box-shadow: 0 0 5px #250F10;
    border-radius: 3px;
}

.search_form input:focus{
    outline: 0 none;
}

.search_form input[type=text]{
    background: #fff;
    /* border: 1px solid #e3e3e3; */
    border: 0;
    border-radius: 3px 0 0 3px;
    padding: 5px 15px;
    font: 400 14px/18px Open Sans, Arial;
    height: 20px;
    /* font-style: italic; */
    color: #000;
    width: 300px;
}

.search_form input[type=submit]{
    /* background: #086e2f; */
    background: #2CBD63;
    /* border: 1px solid #033b1f; */
    border: 0;
    border-radius: 0 3px 3px 0;
    padding: 4px 20px;
    font: 500 16px/21px Open Sans, Arial;
    color: #fff;
    cursor: pointer;
    height: 30px;
    margin-bottom: -1px;
    box-shadow: -1px 0 3px #250F10;
}

.search_form input[type=submit]:hover{
    background: #1EDA5A;
}

.container aside.left,
.container div.content,
.container aside.right{
    display: inline-block;
    vertical-align: top;
}

.container aside.left{
    width: 225px;
}

.container aside.right{
    width: 225px;
    margin-left: 10px;
}

.container aside.left h3{
    border: 1px solid #e3e3e3;
    border-radius: 5px 5px 0 0;
    font: 700 16px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    padding: 7px 0 5px 15px;
    background: #e3e3e3;
}

.container aside.left ul.categories{
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    list-style: none;
}

.container aside.left ul.categories > li {
    border-top: 1px solid #e3e3e3;
    padding: 7px 0 7px 15px;
}

.container aside.left ul.categories > li:first-child{
    border-top: 0;
}

.container aside.left ul.categories > li a{
    font: 400 14px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    text-decoration: none;
}

.container aside.left ul.categories > li a:hover{
    /* color: #098e33; */
    /* color: #9E9B9B; */
    text-decoration: underline;
}

.container aside.left ul.categories > li span{
    display: inline-block;
    float: right;
    /* background: #098e33; */
    padding: 3px 5px;
    border-radius: 3px;
    font: 400 10px Open Sans, Arial;
    /* color: #fff; */
    color: #9E9B9B;
    margin-right: 7px;
}

.container aside.left ul.categories > li ul{
    padding-top: 10px;
    display: none;
}

.container aside.left ul.categories > li ul li{
    padding: 5px 0 5px 30px;
}

.container aside.left ul.categories > li ul li a{
    font: 400 12px Open Sans, Arial;
    /* color: #f90711; */
    color: #9E9B9B;
    text-decoration: none;
}

.container aside.left ul.categories > li ul li a:hover{
    text-decoration: underline;
}

.container div.content{
    width: 520px;
    margin-left: 10px;
}

.container div.content.center{
    width: 755px;
    margin-left: 0px;
}


.container .popular{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    font-size: 0;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.container .popular header{
    padding: 7px 0 5px 20px;
    border-bottom: 1px solid #e3e3e3;
    font: 700 20px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    background: #e3e3e3;
}

.container .popular .column{
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

.container .popular .column img{
    display: block;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}

.container .popular .column > a.catecory_name{
    display: block;
    margin-top: 10px;
    padding: 0 5px;
    text-align: center;
    font: 700 16px Open Sans, Arial;
    color: #111;
    text-decoration: none;
}

.container .popular .column > a.catecory_name:hover{
    text-decoration: underline;
}

.container .popular .column > a{
    display: block;
    margin-top: 5px;
    padding: 0 5px;
    text-align: center;
    font: 700 12px Open Sans, Arial;
    /* color: #f90711; */
}

.container .category_block{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    font-size: 0;
    margin-bottom: 10px;
}

.container .category_block header{
    padding: 7px 0 5px 20px;
    border-bottom: 1px solid #e3e3e3;
    font: 700 20px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    background: #e3e3e3;
}

.container .category_block header a{
    font: 700 20px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    text-decoration: none;
}

.container .category_block header a:hover{
    text-decoration: underline;
}

.container .category_block .column{
    display: inline-block;
    vertical-align: top;
    width: 258px;
    border-left: 1px solid #e3e3e3;
    padding: 5px 0;

}

.container .category_block .item{
    margin-bottom: 5px;
}

.container .category_block .item .item_img{
    padding: 5px;
    float: left;
}

.container .category_block .item .item_img img{
    width: 80px;
    height: 65px;
}

.container .category_block .item .item_desc{
    padding: 0 5px;
    margin-left: 90px;
}

.container .category_block .item .item_desc p{
    font: 400 12px Open Sans, Arial;
    color: #808080;
}

.container .category_block .item .item_desc p.price{
    font: 400 14px Open Sans, Arial;
    color: #1fa54a;
   /*  padding: 3px 0; */
}

.container .category_block .item .item_desc p.desc{
    padding-top: 4px;
    height: 28px;
    overflow: hidden;
}

.container .category_block .item .item_desc p.desc a{
    font: 400 12px Open Sans, Arial;
    color: #111;
    text-decoration: none;
}

.container .category_block .item .item_desc p.desc a:hover{
    text-decoration: underline;
}

.clr{
    clear: both;
}

.container .category_block div .column:first-child{
    border-left: 0;
}


aside.right .category_block{
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin-left: 0px;
    font-size: 0;
    width: 100%;
    margin-top: 0;
}

aside.right .category_block header{
    padding: 7px 0 5px 20px;
    border-bottom: 1px solid #e3e3e3;
    font: 700 18px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    background: #e3e3e3;
}

aside.right .category_block .item{
    margin-bottom: 5px;
}

aside.right .category_block .item .item_img{
    padding: 5px;
    float: left;
}

aside.right .category_block .item .item_img img{
    width: 80px;
    height: 65px;
}

aside.right .category_block .item .item_desc{
    padding: 0 5px;
    margin-left: 90px;
}

aside.right .category_block .item .item_desc p{
    font: 400 12px Open Sans, Arial;
    color: #808080;
}

aside.right .category_block .item .item_desc p.price{
    font: 400 14px Open Sans, Arial;
    color: #1fa54a;
    /*padding: 3px 0;*/
}

aside.right .category_block .item .item_desc p.desc{
    /*padding-top: 4px;*/
    height: 35px;
    overflow: hidden;
}

aside.right .category_block .item .item_desc p.desc a{
    font: 400 12px Open Sans, Arial;
    color: #111;
}

.clear{
    clear: both;
}

.main_footer{
    margin-top: 10px;
    background: #d44032;
}

.main_footer .container{
   /*  border-top: 1px solid #e3e3e3; */
    padding-top: 10px;
    position: relative;
}

.main_footer .links{
    margin-left: 300px;
}

.main_footer .links a{
    font: 400 16px Open Sans, Arial;
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.main_footer .links a:hover{
    text-decoration: underline;
}

.main_footer .copyright{
    font: 400 12px Open Sans, Arial;
    color: #fff;
    margin-top: 20px;
    padding-left: 20px;
}

.main_footer .copyright .develop{
    margin-left: 200px;
    font: 400 12px Open Sans, Arial;
    color: #fff;
}

.main_footer .copyright .develop a{
    font: 400 12px Open Sans, Arial;
    color: #fff;
}

.main_footer{
    position: relative;
}

.main_footer .counter{
    display: inline-block;
    position: absolute;
    left: 10px;
    bottom: 30px;
}

.main_footer .counter img{
    margin-left: 5px;
}

#modal{
    display: none;
    /* width: 400px;
    height: 300px; */
    background: #F1F1F1;
    padding: 15px;
}

.tabs li{
    display: inline-block;
}

.tabs li a{
    font: 400 12px Open Sans, Arial;
    color: #111;
    margin-right: 10px;
    padding: 3px 10px;
}

.tabs li.active a{
    text-decoration: none;
    background: #d44032;
    color: #fff;
}

.tabs_content{
    margin-top: 15px;
}

.tabs_content > div{
    display: none;
}

.tabs_content > div.opened{
    display: block;
}

.tabs_content > div p{
    margin-bottom: 10px;
}

.tabs_content > div p input{
    display: block;
    padding: 0 10px;
    font: 400 14px/24px Open Sans, Arial;
    border: 0;
    box-shadow: 0 0 2px #250F10;
    width: 320px;
}

.tabs_content > div p input:focus{
    outline: 0 none;
    box-shadow: 0 0 5px #250F10;
}

.tabs_content > div p:last-child{
    text-align: center;
}

.tabs_content > div p input[type=submit]{
    cursor: pointer;
    display: inline-block;
    width: auto;
    background: #2CBD63;
    padding: 5px 20px;
    font: 700 16px/21px Open Sans, Arial;
    color: #fff;

}

.tabs_content > div p input[type=submit]:hover{
    background: #1EDA5A;
}

#modal p label{
    display: block;
    margin-bottom: 3px;
    font: 400 10px Open Sans, Arial;
}

.filter{
    padding: 10px;
}

.filter fieldset{
    border: 0;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 15px;
}

.filter fieldset > label{
    margin-bottom: 3px;
    font: 400 12px Open Sans, Arial;
    display: block;
    color: #9E9B9B;
}

.filter fieldset> div > label{
    font: 400 12px Open Sans, Arial;
    color: #9E9B9B;
    margin: 0 5px;
}

#slider-range{
    width: 200px;
    height: 10px;
    margin-top: 5px;
}

#slider-range .ui-widget-header{
    background: #2CBD63;
}

#slider-range .ui-slider-handle{
    width: 14px;
    height: 14px;
    margin-top: -3px;
}

#slider-range .ui-slider-handle:focus{
    outline: 0 none;
}

#slider-range .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #d44032;
}

.min_price, .max_price{
    width: 50px;
    text-align: center;
}

.filter .keywords{
    width: 180px;
}

.filter input[type=submit]{
    cursor: pointer;
    display: inline-block;
    width: auto;
    background: #2CBD63;
    padding: 5px 15px;
    font: 700 16px/21px Open Sans, Arial;
    color: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    margin-top: 5px;
}

.filter input[type=submit]:hover{
    background: #1EDA5A;
}

.filter .select_wraper{
    display: inline-block;
    width: 115px;
    min-height: 20px;
    background: url(../images/select_right.png) no-repeat top right;
    overflow: hidden;
}

.filter .select_wraper select{
    width: 140px;
    height: 20px;
    line-height: 20px;
    background: transparent;
}

.filter .select_wraper select option{
    width: 115px;
}

.content h1{
    font: 700 24px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    margin-bottom: 10px;
}

.content h3{
    font: 700 18px Open Sans, Arial;
    /* color: #f90711; */
    color: #000;
    margin-bottom: 10px;
}

.tape_ads .ad{
    border-bottom: 1px solid #e3e3e3;
    padding: 5px 0;
}

.tape_ads .ad:first-child{
    border-top: 1px solid #e3e3e3;
}

.ad > img{
    border: 1px solid #e3e3e3;
    width: 100px;
    height: 80px;
    float: left;
}

.ad .ad_price{
    float: right;
}

.ad_info{
    margin-left: 100px;
    padding-left: 10px;
}

.ad_price{
    width: 100px;
    font: 400 12px Open Sans, Arial;
    color: #1fa54a;
    text-align: center;
    padding-top: 5px;
}

.ad_price .comments{
    display: block;
    font: 400 14px Open Sans, Arial;
    color: #808080;
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

.ad_price .comments span:before{
    font-family: FontAwesome;
    color: #808080;
    content: "\f0e6";
    font-size: 18px;
}

.ad_info header{
    margin-right: 100px;
    margin-bottom: 5px;
}

.ad_info header a{
    font: 400 14px Open Sans, Arial;
    color: #111;
    text-decoration: none;
}

.ad_info header a:hover{
    text-decoration: underline;
}

.ad_info p{
    font: 400 12px Open Sans, Arial;
    color: #111;
    margin-right: 100px;
}

.ad_info p.ad_city{
    font: 400 12px Open Sans, Arial;
    color: #808080;
    padding-top: 5px;
}

.pagination{
    background: #e3e3e3;
    padding: 5px 10px;
    text-align: center;
}

.pagination a {
    font: 400 14px Open Sans, Arial;
    color: #1fa54a;
    margin-right: 5px;
}

.pagination a.active{
    text-decoration: none;
}

.pagination a.prev,
.pagination a.next{
    font-family: FontAwesome;
    text-decoration: none;
    font-weight: bold;
}

.pagination a.next:before{
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f054";
}

.pagination a.prev:before{
    font-family: FontAwesome;
    font-size: 14px;
    content: "\f053";
}

.ad_main_img{
    margin-bottom: 20px;
    font-size: 0;
}

.ad_main_img > *{
    display: inline-block;
    vertical-align: top;
}

.ad_main_img a > img {
    display: block;
    width: 480px;
    padding: 0 30px;
    height: 323px;
    margin: 0 auto;
    border: 1px solid #e3e3e3;
}

.ad_main_img a.visible{
    display: none;
}

.ad_main_img .small_img a img{
    display: block;
    width: 80px;
    height: 60px;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-right: 0;
}

.ad_main_img .small_img a:first-child img{
    border-top: 1px solid #e3e3e3;
}

.ad_main_img .small_img img:hover{
    background: #e3e3e3;
}

.ad_main_img .small_img.right a img{
    display: block;
    width: 80px;
    height: 60px;
    padding: 10px 10px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    border-top: 0;
    border-left: 0;
}

.ad_main_img .small_img.right a:first-child img{
    border-top: 1px solid #e3e3e3;
}

.ad_main_img .small_img.right img:hover{
    background: #e3e3e3;
}

.ad_main_img a#prev4:before{
    font-family: FontAwesome;
    font-size: 18px;
    content: "\f053";
    text-decoration: none;
    color: #808080;
}

.ad_main_img a#next4:before{
    font-family: FontAwesome;
    font-size: 18px;
    content: "\f054";
    text-decoration: none;
    color: #808080;
}

.ad_main_img a#prev4{
    position: absolute;
    top: 20px;
    left: 0px;
    text-decoration: none;
}

.ad_main_img a#next4{
    position: absolute;
    top: 20px;
    right: 0px;
    text-decoration: none;
}

.ad_desc p{
    font: 400 14px Open Sans, Arial;
    color: #808080;
    margin-bottom: 10px;
}

.seller{
    padding: 10px;
}

.seller p.name a{
    font: 800 14px Open Sans, Arial;
    color: #111;
    vertical-align: top;
}

.seller p.name a:hover{
    text-decoration: none;
}

.seller p.name img.avatar{
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.seller p{
    margin-bottom: 10px;
}

.seller p.phone,
.seller p.mail{
    margin-left: 12px;
}

.seller p.phone i{
    font-size: 20px;
}

.seller p.phone i:before{
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f095";
    color: #808080;
    margin-right: 10px;
    font-style: normal;
}

.seller p.phone a{
    font: 400 14px/20px Open Sans, Arial;
    color: #808080;
    display: inline-block;
    vertical-align: top;
}

.seller p.phone a.vis{
    display: none;
}

.seller p.mail i{
    font-size: 20px;
}

.seller p.mail i:before{
    font-family: FontAwesome;
    font-size: 20px;
    content: "\f0e0";
    color: #808080;
    margin-right: 10px;
    font-style: normal;
}

.seller p.mail a{
    font: 400 14px/20px Open Sans, Arial;
    color: #808080;
    display: inline-block;
    vertical-align: top;
}

.seller p.mail a.vis{
    display: none;
}

.content h1 span.price{
    font: 700 24px Open Sans, Arial;
    color: #111;
    float: right;
    padding: 0 2px;
    border: 1px solid #E5E611;
    background: #E5E611;
}

.profile_links{
    padding: 10px;
}

.profile_links a{
    display: block;
    font: 400 16px Open Sans, Arial;
    color: #111;
    margin-bottom: 8px;
}

.profile_links a:hover{
    text-decoration: none;
}

.profile_links a.active{
    color: #808080;
    text-decoration: none;
}

.user_info > div{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
}

.user_info > div.user_img{
    width: 200px;
    height: 200px;
}

.user_info > div.user_img img{
    width: 200px;
    height: 200px;
}

.bold{
    font-weight: bold;
}

.user_info > div.user_inf{
    padding-left: 10px;
}

.user_info > div.user_inf p{
    font: 400 14px Open Sans, Arial;
    color: #111;
    margin-bottom: 5px;
}

.slideshow{
    margin: 0 auto;
}

.ad_info header span{
    display: inline-block;
    font: 400 8px Open Sans, Arial;
    color: #fff;
    text-transform: uppercase;
    margin-right: 10px;
    width: 45px;
    text-align: center;
}

.ad_info header span.sell{
    background: #ff884d;
}

.ad_info header span.buy{
    background: #8ac700;
}

.ad_info header span.service{
    background: #29B4E0;
}

.ad_info header span.change{
    background: #A625AC;
}

.ad_info header span.rent{
    background: #FD8808;
}

.ad_info header span.cl{
    background: #949494;
}

span.when{
    color: #808080;
    font-size: 12px;
    margin-right: -80px;
    float: right;
}

.breadcrumbs{
    width: 990px;
    margin: 0 auto;
    padding: 5px 0 0;
}

.breadcrumbs a{
    font: 400 14px Open Sans, Arial;
    color: #808080;
    text-decoration: none;
}

.breadcrumbs a:not(:last-child):after{
    font-family: FontAwesome;
    font-size: 14px;
    color: #808080;
    content: "\f101";
    padding-left: 5px;
}

.content h1 span{
    font: 400 18px Open Sans, Arial;
    color: #fff;
    text-transform: uppercase;
    padding: 0 5px;
    margin-right: 10px;
}
.content h1 span.sell{
    background: #ff884d;
}

.content h1 span.buy{
    background: #8ac700;
}

.content h1 span.service{
    background: #29B4E0;
}

.content h1 span.change{
    background: #A625AC;
}

.content h1 span.rent{
    background: #FD8808;
}

.content h1 span.cl{
    background: #949494;
}

#add .select_wraper{
    display: block;
    width: 115px;
    min-height: 20px;
    background: url(../images/select_right.png) no-repeat top right;
    overflow: hidden;
}

#add .select_wraper select{
    width: 140px;
    height: 20px;
    line-height: 20px;
    background: transparent;
}

#add fieldset label{
    margin-bottom: 3px;
    font: 400 12px Open Sans, Arial;
    display: block;
    color: #9E9B9B;
}

#add > fieldset{
    display: inline-block;
    border: 0;
    vertical-align: top;
    margin-right: 20px;
    margin-bottom: 20px;
}

#add input[name=ad_name]{
    width: 270px;
}

#add > p > button{
    display: inline-block;
    font: 400 16px Open Sans, Arial;
    /* background: #e6090c; */
    background: #2CBD63;
    color: #fff;
    text-decoration: none;
    margin-top: 25px;
    padding: 5px 15px;
    float: right;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px #250F10;
    cursor: pointer;
    margin-left: 20px;
}

#add fieldset > .mce-container{
    width: 700px !important;
}

#add > p > button:hover{
    background: #1EDA5A;
}

#add > p{
    padding-right: 50px;
}